[2020-08-17 16:20] gettalong commented on #114
@earthlingworks I have pushed a fix to the devel branch - please try this out. I have gone with moving the canvas origin to the bottom left corner.

If this fixes your problem, I will make a proper release.

[2020-08-17 18:11] earthlingworks commented on #114
@gettalong Nice! Just tried it and it works great.

[2020-08-17 18:41] gettalong commented on #114
Thanks - will do a proper release later!

[2020-08-17 20:08] gettalong commented on #114
@gettalong New version 0.12.2 with fix released!

[2020-08-17 20:08] #114 closed

[2020-08-19 10:16] ksocha opened #115 "Form value not visible until field was clicked"
Hi again!

I try to open specific PDF and edit form values within it. I can see that `/V` attribute was changed however the value is not visible until the field is clicked in the viewer (I use Apple's Preview).

Code I use to do the above is basically just:
[code]

Details:
For test, I've tried to edit `Address` field. `/V` before the change was `test` and the value displayed before and after clic

[2020-08-19 11:23] gettalong commented on #115
Thanks for the inspect outputs. From what I can see by looking at the differences:

* The field `Address` has a changed value but not a changed appearance stream. This is odd since changing the value should automatically create the appearance stream.
* The `/NeedAppearances` key is changed to `true` which should instruct the viewer to regenerate all appearances. Apple's Preview doesn't seem to do

[2020-08-19 11:49] ksocha commented on #115
@gettalong Here are the answers:

1. Makes no difference
2. Yes
3. It DOES work when I do that.
4. I did not, however it behaves the same way in build-in Chrome pdf viewer.

[2020-08-19 12:23] gettalong commented on #115
@ksocha Thanks for the responses!

Number 3 was just a guess and is a bit strange because the code for appearance generation for text fields is hard-wired to always overwrite the appearance stream.

Some more question:

1. Does it also work if you run `field[:AP].delete(:N)` before setting the value?
2. Is `field == field.each_widget.to_a.first`?
3. Is `field == field.each_widget.to_a.first.form_f

[2020-08-19 12:34] ksocha commented on #115
@gettalong And some more answers:

1. Weird: It shows proper value in Apple Preview but build-in Chrome viewer does not show any form values until individual fields have focus.
2. Yes
3. Yes
4. `:single_line_text_field`

[2020-08-19 14:22] ksocha commented on #115
@gettalong I edited above answer. I’ve accidentally modified all fields in the form before.

[2020-08-19 19:28] gettalong commented on #115
@ksocha Thanks for the answers! At least 2, 3 and 4 show that the basics are correct.

I will try to replicate the problem on my side. If you could provide the PDF, it would help speed things up (if the PDF is confidential, you can send it to my business address info@gettalong.at).

[2020-08-20 05:51] ksocha commented on #115
@gettalong I'm not allowed to share the pdf, but I was able to reproduce this issue using one of the example pdfs from HexaPDF examples.

This is not modified pdf:
[acro_form.pdf](https://github.com/gettalong/hexapdf/files/5100902/acro_form.pdf)
Both value and displayed value are: `A sample test string!`

Then I modified in in Apple Preview:
[acro_form_apple.pdf](https://github.com/gettalong/hexap

[2020-08-20 10:27] gettalong commented on #115
@ksocha Thanks - that helps a lot! I inspected the files and tried reproducing with the following script:

[code]

This fails in the appearance generator due to the font `Helvetica` not being defined (it seems Preview uses the TrueType version of Helvetica and stores that information in the key that defines the font to be used when modifying the text but doesn't store a reference to that font in t

[2020-08-20 10:58] ksocha commented on #115
@gettalong I cannot share the entire code, but I basically do the same as above. The only difference is I use a hash with field_name as key and new value as hash value to update multiple fields:
[code]

[2020-08-20 14:53] gettalong commented on #115
Thanks for your response!

Your code would actually explain the current situation: It seems that you ran into the same bug that I discovered but due to rescuing the exception you still write out the file. The field value itself is changed - because this is done before appearance generation - and updating the appearance fails with an exception.

I have pushed the quick fix to the devel branch - ple

[2020-08-20 15:29] ksocha commented on #115
@gettalong Thank you for the fix, it seems to be working!

[2020-08-20 15:36] ksocha opened #116 "Allow setting string value as radio field value"
Lately I was experimenting with [acro_form.pdf](https://github.com/gettalong/hexapdf/files/5103985/acro_form.pdf) and programatically manipulating values of fields in the form.

It seems that it's impossible to do something like:
[code]
because possible radio field values were defined as symbols. Is this valid?

I have multiple pdf docs with forms in them and I try manipulate form values using Hex

[2020-08-20 17:01] gettalong commented on #115
Great! Then I will properly implement and test it and make a new release! Thanks for the fast feedback-cycle!

[2020-08-20 18:52] gettalong commented on #116
Yes, a radio button field value is a symbol because it references the key in an appearance dictionary, and PDF dictionary keys always have to be symbols. This mimics the way PDF works internally.

What is the problem with doing `value.intern` when assigning to a radio button field?

[2020-08-21 05:48] ksocha commented on #116
Given that I modify multiple field of different types in a row, I would have to check filed type each time and do `value.intern` for radios only.

It would be much easier if line https://github.com/gettalong/hexapdf/blob/master/lib/hexapdf/type/acro_form/button_field.rb#L274 was changed to sth like:
[code]

Besides, I can create a widget without use of a symbol:
[code]
Then `rb.radio_button_values

[2020-08-24 13:05] efatsi commented on #51
Thanks @gettalong, unfortunately I'm not in a position to test this out at the moment, I never had direct access to the malformed PDFs, only complaints from the software users and error logs.

[2020-08-24 16:02] gettalong commented on #51
@efatsi Thanks for the response and no problem!

[2020-09-11 00:48] joshco opened #117 "Content processor show_text NoMethodError for NilClass"
_(this is the same context as the colorspace issue we dealt with, in my redactor )_
The place it is failing on the line noted below.   The log lines saying 'show_text_string'  have the value of str.  It is when the string appears to be a single dash '-'.

[code]

__hexrep.rb__
[code]

[2020-09-11 19:48] gettalong commented on #117
Can you share the PDF that produces the error? If it is confidential, you can send it to support@gettalong.at.

If you can't share it: Can you produce the actual line of the error? I.e. the line inside the HexaPDF library that throws this error?

[2020-09-15 23:49] pashamur commented on #51
I tried out the devel branch against one such corrupted PDF and got `Problem encountered: undefined method `oid' for nil:NilClass`

[2020-09-16 19:26] gettalong commented on #51
@pashamur Could you provide this PDF so that I can investigate the problem?

[2020-10-16 22:21] matpowel commented on #98
@gettalong sorry I didn't reply earlier, we had to focus on a couple of other major areas of the code.

What's funny about this is that we ended up using the lack of document deletion in our page move method. We've now modified it per below, but I still think the new idiom is much nicer. Other parts of our code are cleaner and more intuitive when a delete is what is wanted.

<img width="509" alt="

[2020-10-16 22:30] matpowel commented on #51
@gettalong is this at all related to another error we get regularly like this? It seems to also be a corrupt PDF.

```Validation error for (33,0): Required field Parent is not set```

Unfortunately, I've only seen it happen on sensitive financial information so I can't send you the PDF :(

For now, for both of these errors we have to catch the exceptions and send the document off for re-conversion

[2020-10-17 05:35] pashamur commented on #51
@gettalong Unfortunately I'm not allowed to share the PDFs I was testing on :(
(I ended up using PDFParser/poppler utils for my use cases)

[2020-10-17 07:17] gettalong commented on #51
@matpowel No, I don't think so This issue is about parse errors due to corrupted documents. The PDF you have seems to be parsable because you can actually do something with it. However, there seems to be a structural problem with it, the `Parent` key is used e.g. by the PDF internal page tree structure. There are already mechanisms in place to repair invalid page trees during validation, so this m

[2020-10-17 07:42] gettalong commented on #98
@matpowel No problem - thanks for the feedback! I will add "move page method" to my TODO list ;)

As for sensitive PDFs: If it would help, I could sign a confidentiality agreement concerning the PDFs.

[2020-10-17 17:45] matpowel commented on #51
@gettalong  the error comes when trying a simple open and write without any modification. If we open the PDF in Mac Preview and re-export to PDF then it works fine. Previously we added code to try opening the doc and rescue the Malformed error when first importing the doc, now we added code to try writing to a tempfile and rescuing the Error. In both cases we send it off to ConvertAPI.com for repr

[2020-10-17 20:57] gettalong commented on #51
@matpowel If opening in Mac Preview works, I should be able to find the problem and make it work in HexaPDF, given you can provide the PDF file.

[2020-11-09 16:22] gettalong commented on #51
@matpowel Could you try the following example scripts with your PDF file and the latest commit from the devel branch:

Prints the number of revisions and does a simple open/write:
[code]

Simple open/write but without validations:
[code]

Validating the document but only the current revision:
[code]

The problem might be that the PDF file contains multiple revisions and a prior revision is either

[2020-11-13 22:52] gettalong commented on #98
@matpowel FYI I have just implemented the page moving method - see https://github.com/gettalong/hexapdf/commit/38b62bf12db5757f72091770fc2352762598e51f

Since I can't really do anything with respect to the modify/split problem, I will close this issue for now. If you have some more information that could help with this, I will re-open it for further investigation.

[2020-11-13 22:52] #98 closed

[2020-11-13 22:59] gettalong commented on #51
@matpowel I will close this issue since the original problem is solved with the next release. If you can try out the scripts in https://github.com/gettalong/hexapdf/issues/51#issuecomment-724119150 with your PDF file and one of them fails, please open a new issue - thank you!

[2020-11-13 22:59] #51 closed

[2020-11-13 23:03] gettalong commented on #117
@joshco Since I didn't get any feedback on this problem, i can't investigate it. Therefore I will close this issue for now. If you have any further information, please add a comment and I will re-open the issue.

[2020-11-13 23:03] #117 closed

[2020-11-14 11:44] efatsi commented on #51
👏 👏 👏 👏

[2020-11-21 07:27] brandondrew opened #118 "Please resolve conflicting statements about license."
There are several conflicting criteria given on the web site regarding when a paid license is required.

1. When there are changes made to the HexaPDF code.
2. When the HexaPDF code is added to an app (such as when used as a gem—which does not involve changing HexaPDF at all) that is used over a network—therefore any Rails app ever.
3. When it is used in a commercial setting.

In my case I would u

[2020-11-21 12:57] gettalong commented on #118
Thanks for bringing this up! Could you clarify where you found the three points below the quoted text?

Generally, if you don't want to adhere to the AGPL or can't adhere to it (e.g. because you can't make the code that uses HexaPDF available under AGPL), then you need a commercial license.

So the easiest way to think about this is: Can I do what I need using the AGPL licensed version? If yes, th

[2020-11-25 09:21] karosk9 opened #119 "<NoMethodError: undefined method `oid' for nil:NilClass>"
Hello,
The problem with malformed pdf still occurs for me after gem bump. Before the latest release, I encountered a problem described in this issue: https://github.com/gettalong/hexapdf/issues/51. and got an error:

[code]
After the version bump, it looks like some errors are indeed fixed but I still receive an error. The difference is that it’s triggered a couple of steps after the step that cau

[2020-11-25 11:44] karosk9 opened #120 "Validation error for (28,0): Field FontWeight does not contain an allowed value"
Hello,
I am having an issue with updating pdf due to the following error:
[code]
I suspect it might be an issue with the non-standard FontWeight value which is 350. (Shouldn’t be 300 or 400?)

However, I also have found general information about how font weights work:  `If the font family doesn't provide the requested weight, it will use the closest available one.`

So isn’t it a HexaPDF bug?

Her

[2020-11-25 22:04] gettalong commented on #120
Thank you for reporting this issue! Before I further dive into this, could you please clarify where you read the information about using the closest available one? Because I didn't find anything in the PDF specification.

[2020-11-25 22:40] gettalong commented on #119
Thank for reporting this issue!

So the original error you were getting points to an actual problem with the PDF in question. This error triggers the new behaviour of reconstructing the main cross-reference table. It seems, however, that in this case this is not enough, or not correctly done.

The backtrace just shows where the error is happening and it tells us that `@loader.call(xref_entry)` wil

[2020-11-26 09:24] karosk9 commented on #120
I found it on this website: https://cssreference.io/property/font-weight/
however, it is related to CSS so I do not know if it applies to PDFs nor if it's a general CSS rule. Sorry, I am not very into fonts and CSS topics. I do not rule out that the problem is the pdf itself. As far as I know, for some fonts not only 100-multiplied values are correct. The question is how does it look like for this

[2020-11-26 09:52] karosk9 commented on #120
It happened again for another document. It seems it's not a very rare issue. It would be great to handle it, as users usually don't have any idea that their pdf is invalid and they have no chance to fix it. A workaround could be providing a more detailed error (At the moment it is "HexaPDF::Error"), so it could be caught and handled on our side.

[2020-11-26 17:38] gettalong commented on #120
Thanks for the reference! I thought that this might be CSS related. In the PDF spec it is defined that a value like 350 is not allowed. However, it might be a solution to use the CSS approach - I will think about this a bit more.

It is generally not a good idea to capture the validation error and then go on since it might lead to further problems.

What you can do is running the validation manual

[2020-11-30 11:32] karosk9 commented on #120
I didn't mean to proceed with an invalid file, I agree that it can lead to further problems. I wanted to provide detailed information to the user when a particular error occurs. So if the error was something like:  `HexaPDF::Error:FontweightError` I could tell the user what exactly is wrong with his PDF.

Please find the font file attached:
(I added txt extension just to omit github attachment for

[2020-11-30 13:05] gettalong commented on #120
Thanks for the font file! Opening it with FontForge tells me that the font should have a weight of 500. So the information in the PDF is clearly wrong. What I can try adding to the validation feature is that if the font weight  is invalid, the font data is examined to see if the information can be found and if it can, the invalid data is automatically corrected.

As for one error per validation pr

[2020-11-30 14:08] karosk9 commented on #120
Ok, I thought about it again and we will just give the user general information if any HexaPDF error occurs. However, if you manage to automatically fix a pdf with such an error, that would be great. I'm looking forward to any news on this :)

[2020-11-30 14:09] karosk9 commented on #119
Hi, I am waiting for the document without sensitive data to be provided by the client and get back to you when I receive it.

[2020-11-30 15:25] enthusiasmus opened #121 "Can't use emojis in PDFs"
Dear hexapdf team,

I tried to use emojis (❤️) inside a PDF, but without success. Any ideas?

Code-Setup:
[code]

Error:
[code]

Gem-Version: 0.13.0
Ruby-Version: 2.6.6p146

Thanks in advance,
best regards,
Lukas

[2020-11-30 18:05] gettalong commented on #121
You need to use a font that includes the needed emoji glyphs. The built-in fonts don't have emojis. Try for example GNU FreeFont (https://www.gnu.org/software/freefont/ranges/symbols.html) which appears to have emoji characters.

Please note that multi-color emojis are not supported (yet) because they are not stored as glyphs but as graphics.

[2020-11-30 18:05] #121 closed

[2020-12-02 17:34] sixtyfive opened #122 "Question: Extract Stream to file?"
After playing around with the API and the CLI and browsing the docs, I can't seem to find anything about this. Apologies if I just missed the information. Does hexapdf provide any way of extracting a character stream from a PDF?

Use case: I've read through the output of `r` and found that `5` is the object I'm interested in. It happens to be written in a non-latin script, though, so `s 5` isn't v

[2020-12-02 17:46] gettalong commented on #122
From what you write I guess you don't want a "stream" as defined by the PDF but the text of a page? If this is the case, this is a bit more involved because in most cases semantic information is not preserved when creating a PDF. So the PDF library must stitch together the characters to form (at least) lines, sometimes even words. This is not something that HexaPDF has built-in right now, do it is

[2020-12-02 18:53] sixtyfive commented on #122
Yes-ish. I want the list of characters as they would be rendered by, say, Evince, according to their x-y-coordinates on the page, including spaces between them larger than so-and-so-many pixels on the x axis interpreted as ` `, and changes larger than so-and-so-many pixels on the y axis interpreted as `\n`.

If I understand you correctly, getting the list of characters and their x-y-coordinates is

[2020-12-02 22:16] gettalong commented on #122
Yes, that is accurate. Have a look at https://hexapdf.gettalong.org/examples/show_char_bboxes.html where you can find an example for how to get the positions of the characters.

On issue https://github.com/gettalong/hexapdf/issues/18 you will find some more information regarding this.

[2020-12-03 08:50] sixtyfive commented on #122
These help greatly. Thank you, @gettalong!

[2020-12-03 08:50] #122 closed

[2020-12-03 22:07] gettalong commented on #119
I got another bug report where a PDF produces the same kind of error and they provided the PDF. That PDF has a wrongly structured cross-reference table leading to this exception. As far as I can tell from the information you already provided, this is probably the same problem you are having.

I'm currently working on finding a work-around for correcting such invalid PDFs - will keep you posted!

[2020-12-05 16:39] gettalong commented on #119
@karosk9 Could you please try out the devel branch (https://github.com/gettalong/hexapdf/tree/devel) if the latest changes fix your problem?

There is a high probability that those changes will fix your problem, too, since the error message is the same as with the other bug report.

[2020-12-07 18:32] matpowel commented on #51
Thanks @gettalong, we'll test over the coming weeks

[2020-12-08 15:27] karosk9 commented on #119
Hi! It works! :tada:

[2020-12-08 18:00] gettalong commented on #119
Great to hear! And thanks for testing this out! This will be in the next release.

[2020-12-08 18:00] #119 closed

[2020-12-08 18:15] gettalong commented on #118
@brandondrew Coming back to this I realized that the three points you list are just an interpretation of the quoted text - sorry for the misunderstanding!

I have updated the text in question and I hope that it is clearer now. As I wrote before, the commercial license is needed if one can't adhere to the AGPL..

[2020-12-08 18:15] #118 closed

[2020-12-17 02:59] matpowel commented on #51
@gettalong we finally got to testing, this is now confirmed fixed for our test suite of PDFs in version 0.13.0 so we upgraded production now. Thank you!

[2020-12-17 23:15] gettalong commented on #51
@matpowel Great to hear and thank you for your feedback!

[2021-01-08 22:00] matpowel opened #125 "Getting error 'Invalid number of entries in field Widths'"
Our production app is getting a lot of errors around processing PDFs. I want to document some of them but only one of them is causing major problems right now and that is per the title. Unfortunately, like the vast majority of our documents they contain sensitive data so I can't share it but here you see the problem:

[code]

For all the other problems we see (like you can see below from the last

[2021-01-08 23:37] gettalong commented on #125
What you can do immediately is to use `doc.write('/tmp/test.pdf', validate: false)` and do the validation manually, if you need it, by invoking the `doc.validate` method before writing the document (generally, running the validation code this way should not make a document any worse).

If you just call `doc.validate`, validation does its thing without raising any errors. You can either log the ret

[2021-01-09 06:28] matpowel commented on #125
Thanks for the fast and thorough response! It's late on Friday here now so I'll make this brief but wanted to get back to you:

1. doc.validate: That makes sense. I'll give it a try and see if we start having any issues. One of the more important things we do after validation is split page images out of it using Vips, so the main thing we need to check is that Vips can handle it.
2. Widths: Per nu

[2021-01-10 07:14] gettalong commented on #125
ad 3) I have pushed some changes to the devel branch, including the one the shows the invalid object. It would help if you could test this with your files to see what value that are using.

ad 4) Yes, the Widths validation error is meant to still happen because it is really an error.

[2021-01-10 08:12] gettalong commented on #97
@earthlingworks On twitter you said there is still a problem with memory? Is this still related to images?

You said in https://github.com/gettalong/hexapdf/issues/97#issuecomment-574455558 that you are still having problems with memory rentention when using fonts.

In this regard: Could you tell me a bit more about what you do? Especially, are you using HexaPDF in a long running process where you

[2021-01-13 04:00] earthlingworks commented on #97
@gettalong Sorry for the late reply; I was on a trip with the family and catching up this week now that I'm back.

There's definitely memory retention going on. Not sure if it's font usage exactly but based on what I had done, it seemed to point to that (at least partly). Short summary of how we're using HexaPDF:

We're taking PDF documents and applying text and images on top of them. We basically

[2021-01-13 14:07] gettalong commented on #97
@earthlingworks No problem, thanks for the details!

Just two more questions for details:

* You use HexaPDF in the Rails app and in Sidekiq. So this means both processes are long-lived and often create a new `HexaPDF::Document` instance?

* When adding the font, are you using `doc.fonts.add(font_path)` or `canvas.font(font_path, size: size)`?

[2021-01-14 00:30] earthlingworks commented on #97
@gettalong Not a problem!

Answers:

1. The process to create the documents I mentioned usually takes 1 to 3 seconds. It's pretty quick.
2. Looks like we're mostly adding fonts this way: `doc.fonts.add(font_path)`

[2021-01-14 01:07] gettalong commented on #97
@earthlingworks Thanks for your answers!

With question 1 I meant whether the Rails and Sidekiq Ruby processes are long-running ones, i.e. if you process many documents with HexaPDF in the same Ruby instance.

As for 2: I have an idea that I will try out the next few days to see if I can reduce memory consumption when using TTF fonts.

[2021-01-14 02:33] earthlingworks commented on #97
@gettalong Ah, yes, it's a web app so they stay running and keep processing documents.

[2021-01-15 02:24] earthlingworks commented on #97
@gettalong So I just saw #103 and it seems like this fixes our memory issue as well. If we set `HexaPDF::Importer.instance_variable_set(:@map, nil)` retained memory is much better, regardless of whatever fonts are being imported.

Problem is that we're running this as a web app (and also running as sidekiq processes), so being that `@map` is a class instance variable I'm guessing that if we did th

[2021-01-15 23:05] earthlingworks commented on #97
@gettalong not sure if this is helpful, but I found this interesting about weakref: https://share.getcloudapp.com/5zudzBOq

From this article (halfway down): https://samsaffron.com/archive/2015/03/31/debugging-memory-leaks-in-ruby

[2021-01-15 23:56] gettalong commented on #97
@earthlingworks Thanks for the pointer! I actually read the article some time ago but it seems I didn't remember the gist when implementing the importer. I will see if something similar would help!

[2021-01-17 08:40] gettalong commented on #97
@earthlingworks Here is the latest change for long running processes using TrueType fonts: https://github.com/gettalong/hexapdf/commit/487db94518ce7592202dedb6c31d1f99a0dd0b7b - This will help without any code changes. Another change is up the pipeline to further enhance performance in such a case.

[2021-01-17 17:22] gettalong commented on #97
@earthlingworks With this change https://github.com/gettalong/hexapdf/commit/896a1515de23cd27bd958fd7c0fa6cd3f50c1242 you need to slightly adjust your code but can decrease object allocations and increase performance. Maybe this will help with memory retention, too. Will test this later in conjunction with #103.

[2021-01-17 22:55] gettalong commented on #97
So I looked again at your comment https://github.com/gettalong/hexapdf/issues/97#issuecomment-574455558 to see if I could figure the problem. However, I was not able to reproduce the strange behaviour. The result I got was always low retained memory, on different Ruby versions and with/without your changes.

Once I added some text in that TrueType font to a page, more memory was retained. It seems

[2021-01-18 00:01] gettalong commented on #103
@benjaminwood I'm currently trying again to fix this problem for good.

Could you please try changing lines https://github.com/gettalong/hexapdf/blob/698fe84c940490cc98b306e0166eeb8c4dcf6f70/lib/hexapdf/importer.rb#L67 and https://github.com/gettalong/hexapdf/blob/698fe84c940490cc98b306e0166eeb8c4dcf6f70/lib/hexapdf/importer.rb#L70 to

[code]

and

[code]

and see if it helps with your issue?

Tha

[2021-01-18 17:48] gettalong commented on #97
@earthlingworks I have a potential fix for the import retention problem - see https://github.com/gettalong/hexapdf/commit/a13a3e903c5fea3cd96ec9c329f5213cbfe27afd. Could you try the devel branch to see if this helps?

It was tested with this script:

[code]

When running without the mentioned commit, it would print out `{:var => 52}` (because the supplied document has that many pages), with the co

[2021-01-18 17:51] gettalong commented on #103
@benjaminwood After trying the changes in my last comment in more situations and thinking a bit more about it, I'm quite sure that this won't correctly fix the problem.

However, I implemented another possible solution that is now pushed to the "devel" branch. See this comment https://github.com/gettalong/hexapdf/issues/97#issuecomment-762392763 for details.

[2021-01-18 18:51] benjaminwood commented on #103
@gettalong - thanks for following up! I can confirm that the issue is resolved with your changes on the devel branch. :rocket:

[2021-01-18 20:38] earthlingworks commented on #97
@gettalong Just tried out `a13a3e9` in my local test environment and it looks great! Big improvements on memory. Can't deploy that to production until it comes out as a normal release but yeah, I think this is going to take care of the majority of our issues on the memory side. Excited to try it on production :)

Going to try out the updates related to fonts a bit later today and will get back to

[2021-01-18 21:34] gettalong commented on #103
@benjaminwood That's really great to hear! :+1:  Sorry it took so long to resolve this. I will make a new release in the next few days so that this can be used in production.

[2021-01-18 21:34] #103 closed

[2021-01-19 01:02] earthlingworks commented on #97
@gettalong For the font commits, definitely good for lower allocations though the retained memory seems to be more about the importer, so between all these I think we'll be in great shape.

[2021-01-21 00:27] gettalong commented on #97
@earthlingworks Thanks for the feedback! I will close the issue now since I think everything is resolved here.

[2021-01-21 00:27] #97 closed

[2021-01-21 00:33] gettalong commented on #97
@earthlingworks New release is out!

[2021-01-21 00:33] gettalong commented on #103
@benjaminwood New release is out!

[2021-01-21 00:39] benjaminwood commented on #103
Great! Thanks again.

[2021-01-21 01:06] earthlingworks commented on #97
@gettalong Excellent - thank you!

[2021-01-28 22:12] 9mm opened #126 "Simply copying existing page to new PDF?"
I'm looking at this example https://github.com/gettalong/hexapdf/blob/master/examples/005-merging.rb

All I want to do is loop through a PDF, and every other page I want to create a NEW pdf using just that page I'm on. I want the filenames to just be 1.pdf, 2.pdf, 3.pdf etc (its a 5000 page document).

When I try to do this though: `target.pages << target.import(page)` it seems to be not adding an

[2021-01-28 22:18] 9mm commented on #126
its actually doing it correctly except why the heck is it not using the filename i specify, it keeps overwriting a filename and i dont even know where that is coming from, its like its parsing the filename from the last page i import...... and then ignoring it in the argument

[2021-01-28 22:55] gettalong commented on #126
Can you provide the full code? Because `@filename` is used at the bottom but never initialized and `filename` (either a local variable or method) is called in the `HexaPDF::Document#write` method.

Also: You said you want to loop through the pages of a single PDF. However, you are looping through `@new_pdfs` (an array of PDF files) *and* through their pages.

[2021-01-28 22:56] 9mm commented on #126
jesus im an idiot, i fat-finger deleted the instance variable itno local variable and it was using that

KILL ME........... still thinking about GME 🚀

[2021-01-28 22:56] #126 closed

[2021-01-28 23:08] 9mm opened #127 "Fast way to "search" or render the text of a document?"
Is there a way I can "render" the text of a document to a string?

I understand it would be extremely hard to make a _sensible_ output considering PDFs are more like layers, but really the only thing I need to do is search the document for an occurrence of a piece of text. I don't care if I get a big messy jumble of text, I just need to check for it's presence.

I'm currently using `pdf-reader` to

[2021-01-29 00:18] gettalong commented on #127
This is currently not built-in but you can do it yourself by analyzing the position of the characters and assembling them into words and lines. The example https://hexapdf.gettalong.org/examples/show_char_bboxes.html shows you how to get the basic text fragments which would need to be assembled.

Also search the issue tracker - there were some similar questions already.

[2021-01-29 00:18] #127 closed

[2021-01-29 02:27] brandondrew commented on #118
@gettalong

Thanks for replying, but since the question is aimed at trying to get a clear statement of _how I can know if I can adhere to the AGPL_ saying "the commercial license is needed if one can't adhere to the AGPL" just brings me back to the question again.

I can't think of _any_ application that is _neither_ distributed _nor_ used over a network.  So one interpretation of your statement i

[2021-01-30 07:29] gettalong commented on #118
@brandondrew I'm sorry but I'm not a lawyer and I really don't know if "every application that uses this must itself be fully open source or must use a commercial license" is true. Generally I would say that if you don't want to invest time to determine whether you can use the AGPL, your statement is an easy way to think about which license to choose. However, there may be a middle ground somewher

[2021-02-04 22:33] alexanderadam opened #128 "Font rendering is destroyed in version `0.14.2`"
Hi @gettalong,

it's a long time since I wrote the last time thus I thought I should write again :wink:

I'm not sure whether I'm missing something but PDF rendering is broken in `0.14.2` for me.

**Older versions:**

![Wir freuen uns auf Ihre Teilname](https://user-images.githubusercontent.com/372620/106963061-536aad00-6740-11eb-8ec7-73400897503d.png)

**Version `0.14.2`:**

![Wir freuen uns auf

[2021-02-04 22:55] gettalong commented on #128
Can you provide the code with which you generated the resulting PDF? Or just the two PDFs so that I can inspect them?

[2021-02-07 22:41] mlibby opened #129 "Font in fillable forms different than if filled out in Acrobat Reader"
When I fill in a PDF form in Acrobat Reader by hand and save, it formats text differently than if I fill in the fields using HexaPDF (especially important in Social Security Number field, where the different font makes a difference in laying out correctly against the background image). It looks like I'm losing boldface and some sort of condensed spacing option.

Source file with fillable form:
[f1

[2021-02-08 00:37] gettalong commented on #129
It seems that the input PDF doesn't use one of the standard 14 PDF fonts which are usually used for interactive forms. It uses the font `/HelveticaLTStd-Bold` which needs to be available on the target system because it is also not embedded in the PDF file.

When filling out that PDF using Evince it also doesn't work:

![Screenshot_20210208_010929](https://user-images.githubusercontent.com/4104/107

[2021-02-08 01:30] mlibby commented on #129
Thank you for looking into this. I got the same result from pdftk on the commandline in WSL as well. Definitely understand why you wouldn't support a deprecated type of form!

Given that the other fields are plain text and don't seem to rely on formatting  maybe I can change the font or the size and get it to work for this one field.

Thanks for your time and for the fantastic library.

[2021-02-08 01:30] #129 closed

[2021-02-15 00:50] kawadumax commented on #128
This problem happens to me too.
14.2 = problem
14.1, 14.0 = succeed

I'll paste my code.

[code]

[code]

[code]

[2021-02-15 01:10] kawadumax commented on #128
[code]

[2021-02-15 08:03] gettalong commented on #128
@kawadumax Thanks for the code - I could reproduce the bug and found the problem. Will push a new release soon!

[2021-02-15 08:03] #128 closed

[2021-02-23 13:09] vlaew commented on #32
Hello!
I'm trying to implement adding FreeText annotations to an existing PDF:
[code]

But there's no annotation in the resulting document. If I change Subtype to `Text` then annotations are visible in the document.
According to spec 12.5.6.6 the key `DA` is required, so I think it's because of it, can't figure out what it should be.

Thank you in advance.

[2021-02-23 15:05] gettalong commented on #32
The annotation itself *is* there but there is no visible appearance associated with it, so nothing is visible. The `/DA` key specifies the default appearance string that is used to regenerate the appearance of the free text annotation if the user changes the text. It needs to refer, at least, to a valid font object and font size. Also have a look at the `/AP` key of the annotation, spec 12.5.2. An

[2021-02-24 09:26] vlaew commented on #32
No, I haven't checked the document in Adobe Reader.

Thanks for the advice, I will check the spec.

Thank you for HexaPDF and a quick response!

[2021-03-02 06:04] brandondrew commented on #118
@gettalong  If _even you_ do not understand the license, despite having chosen it for your project, then surely you cannot expect anyone else who is not a lawyer to understand it.

I hope you realize the effects of your choices, and I hope you realize that developers are not likely to even consider a project which forces them to consult a lawyer unless all other possibilities have been exhausted.

[2021-03-02 19:07] gettalong commented on #118
@brandondrew I know what the license does and when it can be used. *However*, if you are following general news about software licensed under the AGPL (or any similar license) you will find many instances where only lawyers (or judges) were able to decide whether a certain usage pattern was actually allowed by the license.

If you are not sure if **you can use the software under the AGPL license i

[2021-03-19 11:34] donmb1 opened #131 "Errno::ENOENT: No such file or directory @ rb_sysopen"
Hey there,

I try to use this command
[code]

in order top open a PDF file and then put text on it (which is my usecase).

However, I receive an error

[code]

The file exists. It is a public file on AWS S3. I can even open it in the browser.

What is the problem here?

Thanks for any help.

[2021-03-19 16:34] brandondrew commented on #118
I'm not asking highly specific questions about a corner case.  I'm asking for very general guidance about how you understand the AGPL.

Nor am I shunning the project, and I was very explicit about that.  I do not in the slightest bit begrudge your need to earn money.

It appears that you have no intention of providing any clear guidance as to how you understand the AGPL.  That's your choice,  and

[2021-03-19 19:07] donmb1 commented on #131
Found the solution. I cannot open a remote file like this. Never mind.

[2021-03-19 19:07] #131 closed

[2021-03-19 21:24] gettalong commented on #118
Thank you for being so constructive about this. And I'm sorry that I can't give you a better answer.

If HexaPDF was provided just under the AGPL, adoption would certainly be very low and some use cases would not be possible. But since there also is the commercial license, you always have the choice of using that.

And there are use cases where the AGPL works fine, one being the `hexapdf` binary t

[2021-03-22 12:30] ksocha opened #132 "Invalid number of color components, 1|3|4 expected, 0 given"
Hi!

I have the above issue when filling in text fields in existing PDF document. I use the latest version of hexapdf.

Unfortunately, I'm not allowed to attach the document itself. But here is result of `hexapdf inspect file r`:
[inspect.txt](https://github.com/gettalong/hexapdf/files/6182090/inspect.txt)

Also, here's the stacktrace, if it's of any help:
[code]

The result I have is a document w

[2021-03-22 13:15] gettalong commented on #132
Thanks for providing the inspect output!

It seems that this part is causing the issue:

[code]

After looking at the spec the error is caused by a bug in HexaPDF where for the background color the empty array is not treated as transparent. The code for the border color works fine.

I will fix this for the next release.

[2021-03-22 13:16] ksocha commented on #132
@gettalong  Thank you!

[2021-03-23 14:31] dsisnero opened #133 "form problem"
when I run hexapdf form on a pdf I get Problem encountered.

 Dominics-iMac:forms dominic$ hexapdf form clearance.record.form.pdf
Page 1
  document_type
    └─ "90% Engineering Transmittal"
  id_number
    └─ nil
  budget_impact
    └─ false
  title
    └─ "NEXCOM Radio Replacement"
  name
    └─ "Dominic Sisneros"
  routing
    └─ "AJW-2W13B"
  phone
    └─ nil
  cell
    └─ "801-558-1966"
  summ

[2021-03-23 22:35] gettalong commented on #133
The `approving_official_signature` field is a signature field which is not yet implemented. I will provide a basic implementation for the next release.

[2021-03-26 14:40] silikone opened #134 "Question: How to define a spot color/CutContour"
Hi,

I'm looking into using HexaPDF to generate a lot of automatic print materials.
I need to define a 'CutContour' to indicate where the printers are to cut the materials.

For a quick brush up on CutContour check this:
https://www.prigraphics.com/wp-content/uploads/2014/04/How-to-Prepare-Contour-Cut-Jobs.pdf

As far as I see this, it is a named color(Spot Color) that is used to draw a shape to i

[2021-03-26 16:58] gettalong commented on #134
There are currently no built-in convenience methods for creating this. However, it can be done with HexaPDF.

If you'd provide a small sample input file before and after the cut contour has been added, I can provide you with the necessary steps to automate this.

[2021-03-26 18:43] gettalong commented on #132
This is fixed and will be in the next release.

[2021-03-26 18:43] #132 closed

[2021-03-26 19:03] gettalong commented on #125
@matpowel Have you tried the latest release 0.14.4? Is there anything else I can help you with in this regard?

[2021-03-28 11:17] silikone commented on #134
Hi,

Thanks for the response.

Would love to tak you up on the offer.

Here is a PDF with just a cutContour defined. Let me know if you need anything else

/S

On 26 Mar 2021, at 17.58, Thomas Leitner ***@***.*** ***@***.***> > wrote:

There are currently no built-in convenience methods for creating this. However, it can be done with HexaPDF.

If you'd provide a small sample input file before and

[2021-03-28 18:56] gettalong commented on #134
@silikone There is no PDF attached in your comment.

[2021-03-29 00:06] silikone commented on #134
Sorry - missed the file
[CutContour_only.pdf](https://github.com/gettalong/hexapdf/files/6218466/CutContour_only.pdf)

[2021-03-29 23:26] earthlingworks opened #135 "Encryption and Permissions"
We're trying out the encryption and permission features and I noticed that if we're not able to restrict to readonly/print permissions.

Setting any PDF to `permissions [:print]` seems to work at first, but then I can simple open it with Acrobat Reader and go to "Permission Details" (after clicking on the security settings) and remove the security settings like this: https://share.getcloudapp.com/

[2021-03-30 00:31] earthlingworks commented on #135
One more thing: I noticed that even with just print permissions enabled, if I open the PDF (any PDF with print permissions enabled through HexaPDF) and right click -> Edit text & images, it prompts for a password. If I just hit enter it accepts the empty password and allows me to modify the contents.

If I try to add password, it won't let me open the PDF without the password, which isn't really w

[2021-03-30 10:37] ksocha commented on #132
Thanks! May I ask when do you plan to release next version?

[2021-03-30 17:17] gettalong commented on #135
* You are not using Adobe Reader but Adobe Acrobat Pro to disable the encryption/permissions. And Acrobat Pro  is able to edit PDFs. So this is expected to work.

* Have you set a password when setting the permissions? You can set a user password and/or an owner password. If you just set the owner password, then a user can open the PDF without password but the restrictions are still in place. If y

[2021-03-30 17:20] gettalong commented on #132
There is another feature lined up which will get into that release and I expect a new release in the next 14 days.

[2021-03-31 00:02] earthlingworks commented on #135
Hey Thomas, gotcha, so even if we did it at the owner level, it's still not going to be truly a readonly document for everyone on any tool. Seems like the best bet will be to just do digital signing on our end.

Ok, thanks for the quick reply! Note: we'll be looking to do LTV (long term validation) on digital signatures. Looking at iText (Java library) but not ideal given our environment does not

[2021-03-31 05:36] gettalong commented on #135
Thanks, I will look up LTV!

Using the owner password is good for normal users but not for power users as it whole depends on their knowledge of PDFs (or their PDF editor).

As far as I know the [Ruby Origami library](https://github.com/gdelugre/origami/) can do signatures. You might want to have a look at that until this is implemented in HexaPDF.

[2021-04-03 12:07] maxence33 commented on #56
Hi,
I have the same problem as @bassambarham . Because I use HexaPDF from a Rails app, I can't persist files in the App. I upload them to Amazon AWS S3.
I have found the solution of writing the file to disk then deleting it at the end of the printing method.
Though I am not sure if this will hold over time. I am not too sure either on how to write to a Tempfile or to IO ( the link seems dead. )

Y

[2021-04-03 13:03] gettalong commented on #56
Thanks! Low RAM usage and good performance are two goals HexaPDF strives for.

The website structure changed in the last two years, here is the correct link to the method: https://hexapdf.gettalong.org/documentation/reference/api/HexaPDF/Document/index.html#method-i-write.

And here is a minimal example of writing to a `StringIO`:

[code]

If you need to write to a temp file, you can do it like th

[2021-04-03 23:00] maxence33 commented on #56
Thanks a lot @gettalong !!
Both methods do work great
Just with StringIO, it works when I send data to the front using `io.string`
and for Tempfiles using `io.rewind` then passing `io.string` to the `send_data` method
(just precising for future Rails developpers stumbling on the same issue)

Unfortunately the Rails app is currently private but I think I have everything at hand to try render my vie

[2021-04-03 23:53] gettalong commented on #56
@maxence33 Great to hear!

Let me know if you need anything else.

[2021-04-04 06:45] gettalong commented on #134
@silikone Thanks for the file. Following is a minimal example:

[code]

Let me know if that works for you!

[2021-04-05 06:33] gettalong commented on #104
@earthlingworks I have implemented now all changes for this to work in most cases (e.g. if the annotations already contain the necessary appearances) - see the [devel branch](https://github.com/gettalong/hexapdf/tree/devel). There will be a new release this week with the fixes.

[2021-04-05 06:33] #104 closed

[2021-04-05 06:38] gettalong commented on #134
@silikone Since I think this is resolved, I will close the issue. Let me know if this is not the case - thanks.

[2021-04-05 06:38] #134 closed

[2021-04-08 09:31] gettalong commented on #133
@dsisnero This is now implemented and will be in the next release. Note that it is not possible to fill out a signature field, yet.

[2021-04-08 09:31] #133 closed

[2021-04-08 10:25] gettalong commented on #120
@karosk9 I have thought about this a bit more. The field is optional according to the spec, so I think it would be better to just delete the invalid value. This should cause no harm. A PDF reader that renders characters of the font needs to read the embedded font file anyway and can retrieve the font weight information from there.

This change will be in the next release (sometime this week).

[2021-04-08 10:25] #120 closed

[2021-04-10 07:34] gettalong commented on #125
@matpowel Just a quick reminder: If you could run the latest version and report back the error with respect to `Field PageMode does not contain an allowed value` and `Field PageLayout does not contain an allowed value`, it would help figure out a way to maybe correct that error. Thanks!

[2021-04-12 08:29] gettalong commented on #38
@CodeMonkeySteve Just an FYI: The next version of HexaPDF to be released today will have direct support for flattening annotations and also takes care that the annotations are properly places and scaled.

[2021-04-13 09:29] munib-concord opened #136 "Issue with opening s3 url based files"
I want to merge a file that is places on s3 bucket and when i try to open that file using hexapdf it returns no pdf error although the file is there and all access is public.
 HexaPDF::Document.open(url)
Errno::ENOENT: No such file or directory @ rb_sysopen https://s3.xyz.com/etc

Can't we open s3 file using hexapdf ?

[2021-04-13 17:23] gettalong commented on #136
See issue #131 - you need to provide either a file or an IO object to `HexaPDF::Document.open`.

[2021-04-13 17:23] #136 closed

[2021-04-15 17:16] sixtyfive opened #137 ""No Unicode mapping""
Hi, I've been trying to work with some Persian and Arabic PDFs and keep running into https://github.com/gettalong/hexapdf/blob/master/lib/hexapdf/configuration.rb#L415 ("No Unicode mapping for code point 1234 in font so and so"). Is there any way that hexapdf can be told to just output a warning but otherwise keep going? (Which I guess carries the risk of ending up with blank in the output file, b

[2021-04-15 21:05] gettalong commented on #137
The code you point to is part of the configuration that allows you to customize the response of HexaPDF in certain situations. In this case, you can customize how HexaPDF responds if a character code cannot be converted to an UTF-8 character when reading the contents of a page.

By setting the `font.on_missing_unicode_mapping` configuration option (see https://github.com/gettalong/hexapdf/blob/mas

[2021-04-15 21:05] #137 closed

[2021-04-15 21:51] sixtyfive commented on #137
Dankeschön!

[2021-04-16 16:15] sixtyfive commented on #37
Hi @gettalong,

slowly getting the hang of it now and trying to follow along the solution you suggested above for @monkeysuffrage's problem:

unfortunately, when trying to call `#super`, this happens:

[code]

I put a M(n)WE at https://gist.github.com/sixtyfive/d3a1994613f4de2bbf9a114ab34f9052. What am I doing wrong?

[2021-04-16 18:55] gettalong commented on #37
@sixtyfive See my comments on the gist, they should answer all your questions.

[2021-04-19 15:33] sixtyfive commented on #37
Thank you @gettalong, that helped immensely and I can now remove any text I like. Will leave the Gist up for others' reference.

[2021-04-19 18:56] gettalong commented on #37
@sixtyfive Glad to hear that! Just one thing: To remove *"any text you like"*, your also need to arrange the text/characters according to their position. There is something like a line structure in PDF but if the PDF producer arranged words in another way you will not get the correct result.

[2021-04-19 22:15] sixtyfive commented on #37
Yes, I noticed, it's quite haphazard sometimes. For what I wanted to do, it was fine as the positions of everything need to stay the same. What I did try and failed to accomplish was to manipulate the position of an existing ContentBox inside of `CustomProcessor#process`. What's the deal with some things being `ShowText`and some others `ShowTextWithPositioning` but the former also having positions

[2021-04-20 07:43] gettalong commented on #37
The `ShowText` and `ShowTextWithPositioning` operator implementations are just two of the available text showing operators of PDF. Another one would be `MoveTextNextLineAndShowText`. And since the PDF reader needs to know where to put the text, all carry position information.

What makes `ShowTextWithPositioning` special is that there can be additional spacings (e.g. kerning) between the character

[2021-04-22 19:42] matpowel commented on #125
Hey @gettalong, sorry about the delay and thanks for pursuing this.

Yes we're on 0.14.4 in production now. I just checked our production logs and we are still seeing the occasional error like this one:

[code]

We do still occasionally get the Widths error. It doesn't seem to be mitigated by the PDF conversion we use but it is quite rare.

We're not, however, seeing any of the  oid,gen errors any

[2021-04-22 21:56] gettalong commented on #125
@matpowel If you update to 0.15.0 the validation error for `/FontWeight` is now changed to be auto-correcting by deleting the field since this field is optional anyways. So it will show up in logs if you log all validation messages, correctable or not. But it won't be a hard error anymore.

As for the `/Widths` error: I guess that PDF reader applications just fall back to the widths stored in the

[2021-04-24 11:59] gettalong commented on #129
@mlibby The latest version of HexaPDF now includes the possibility of an advanced handling of AcroForm fonts that are not usable by HexaPDF. You can now specify a block for the configuration option `acro_form.fallback_font` that can respond in any way it likes to the missing font. E.g. by registering a substitution font and using that. Also see the last conversion on Gitter about that: https://git

[2021-04-24 20:20] earthlingworks opened #138 "Decryption validation error"
We're sometimes seeing this error come up:

HexaPDF::EncryptionError: Invalid data for decryption, need 32 + 16*n bytes

We monkey patched the class and commented these lines (and everything works great):

[code]

We tried `validate: false` but that didn't bypass this validation.

[2021-04-24 20:58] earthlingworks commented on #138
Almost forgot the PDF: you can download one of the PDFs that gets this error from here: https://share.getcloudapp.com/4gu2rqkG

Thanks!

[2021-04-24 21:13] gettalong commented on #138
Thanks for reporting!

I tried decrypting the provided file using `hexapdf mod --strict --decrypt /tmp/e2249a99-929a-4118-ac1f-038ed1d836cd.pdf /tmp/out.pdf` but no error is thrown.

Could you describe what you are doing when this error is thrown? Or provide a small sample script that reproduces the problem?

[2021-04-28 21:17] earthlingworks commented on #138
Sorry about the delay (was in the middle of a few things). Looks like part of the problem was that we had the wrong PDF, so here's the one that's giving problems (same just a bit different): https://share.getcloudapp.com/o0u6Ydqv

Had some trouble duplicating with a simple script, but we have it now:

      pdf = HexaPDF::Document.new
      pdf2 = HexaPDF::Document.new(io: open('/path-to-file/decr

[2021-04-28 22:17] gettalong commented on #138
@earthlingworks Thanks for the file and the code! I have found the problematic part and will now look for a good solution.

[2021-05-01 15:03] gettalong commented on #138
@earthlingworks I have just released version 0.15.3 with a fix for the issue encountered with the file in https://share.getcloudapp.com/o0u6Ydqv

Since you mentioned *"...one that's giving problems (same just a bit different)..."*, please let me know if there are still issues.

One funny thing with this is that the file was generated by Acrobat Distiller and that it probably **doesn't create a val

[2021-05-01 15:03] #138 closed

[2021-05-07 20:59] beneggett commented on #85
I ran into this issue after upgrading to `0.14.1`

Changing
[code]

to

[code]

resolved it.

[2021-05-17 23:33] earthlingworks opened #139 "Error with flatten_annotations"
Hello! We're still receiving errors at times with `flatten_annotations` with certain PDFs.

`ruby test.rb "/path/to/input.pdf"`

[code]
I'll send the PDF through email. Thanks!

[2021-05-22 12:11] orklann opened #140 "What's the future of hexapdf?"
As I know, this project is open source with paid commercial licenses, I am wondering how's the project going, How does the author get enough money to keep working on it?

Ok, What I want to know is: if the author sell enough commercial licenses so that he can keep on the development?

[2021-05-22 16:30] gettalong commented on #140
HexaPDF was and is actively developed, with 18 releases in the past year. For now, my day job pays the bills and HexaPDF brings in additional funds which will hopefully sometime in the future be enough to make HexaPDF a full time gig. The number of customers is slowly but steadily rising so I think this is achievable.

Therefore I can make time for HexaPDF development and either implement features

[2021-05-22 16:30] #140 closed

[2021-05-25 10:54] Kjarrigan opened #141 "Wiki looks suspicious"
@gettalong I just saw a notification in my profile:

![image](https://user-images.githubusercontent.com/310475/119486151-3e01a900-bd58-11eb-8862-f759c5c0e469.png)

and this looks really fishy:

![image](https://user-images.githubusercontent.com/310475/119486257-583b8700-bd58-11eb-8963-6e61b0efa423.png)

[2021-05-25 12:50] gettalong commented on #141
Thanks, I have removed the spam pages.

[2021-05-25 12:50] #141 closed

[2021-05-27 06:50] gettalong commented on #139
Thanks for the PDF!

The problem with the file is that there is a completely different object where an appearance stream is expected, e.g. a cross-reference stream instead of a Form XObject.

I have updated HexaPDF to handle such cases and released a bug fix version.

[2021-05-27 06:50] #139 closed

[2021-06-28 06:59] thanhtoan1196 opened #143 "Watermark not working for some files"
Watermark not working for some files
Here is an example: [error_example_file.pdf](https://github.com/gettalong/hexapdf/files/6724071/error_example_file.pdf)

[2021-06-28 07:35] gettalong commented on #143
The file is damaged and does not conform to the PDF spec because the cross-reference table has invalid EOL sequences in it.

I will try to find a work-around for this damaged file so that HexaPDF can read it correctly.

[2021-06-28 07:37] gettalong commented on #143
Okay, faster than I thought :smile: I found a work-around for dealing with the invalid file which will be in the next release.

[2021-06-28 08:04] thanhtoan1196 commented on #143
Thank you very much.

[2021-07-05 09:00] marcomd opened #144 "Type1 encoding has no codepoint for lslash"
Hello Thomas,

I'm switching from origami to hexa pdf. The specs in which I use names with characters present in the alphabet of those nationalities fail with this a description like this:

_Type1 encoding has no codepoint for lslash_

The description changes based on the special character in the text.

I have this method to write simple text in a page of a given pdf:

[code]

When the text contai

[2021-07-05 09:22] gettalong commented on #144
This error comes from the fact that the standard encoding used for Type1 fonts, WinAnsiEncoding, doesn't contain an entry for that named character, i.e. 'lslash' or 'ccaron'.

What you can do to overcome this is to use a custom encoding by specifying `custom_encoding: true` when calling `pdf.fonts.add`. This will built up a custom encoding containing only the characters in the PDF.

Please note, t

[2021-07-05 09:22] #144 closed

[2021-07-05 10:18] marcomd commented on #144
Thank you. It added a custom font that solved. I have not noticed an increase in the size of the pdf.

<img width="592" alt="immagine" src="https://user-images.githubusercontent.com/194608/124456276-cbd6a800-dd8a-11eb-84ec-6889fb796c46.png">

[2021-07-05 13:34] gettalong commented on #144
There will be a slight increase in the PDF size but should not be much more than 1K at worst.

[2021-07-06 04:46] gettalong commented on #143
@thanhtoan1196 I released 0.15.5 which addresses this problem.

[2021-07-06 04:46] #143 closed

[2021-08-02 14:24] jcmichaudMarquis opened #145 "Can't set bleedbox"
I can't set the BleedBox, it is place with the values of the CropBox no matter what I set it to. I have no problems with the TrimBox, ArtBox, CropBox or MediaBox. What, do you think, I do wrong?
Thank you

[2021-08-02 15:31] gettalong commented on #145
How do you set the bleed box? There is a [helper method called `#box`](https://hexapdf.gettalong.org/documentation/reference/api/HexaPDF/Type/Page.html#method-i-box) on page objects that allows you to set any kind of supported box, e.g. `page.box(:bleed, [0, 0, 100, 200])`.

[2021-08-02 15:48] jcmichaudMarquis commented on #145
I set it the same way I do the other boxes

page2pdf.pages[page2][:BleedBox] = bbc

where

page2pdf: hexapdf object
page2 : the actual page where to set the bleedbox
bbc: an array with the coordinates for the box.

It works for all the other boxes but not for the bleedbox.

Thanks

[2021-08-02 17:29] gettalong commented on #145
If `page2` is already a valid `HexaPDF::Type::Page` object, you should use it directly and not as index.

Did you inspect the generated PDF file? You can do so using `hexapdf inspect file.pdf po 1`  where `file.pdf` would be the generated file and you would substitute the number `1` for the actual page number. The output should look similar to this:

[code]

You should see the set `BleedBox` entry

[2021-08-02 18:01] jcmichaudMarquis commented on #145
In the PDF, opened in BBedit, I get:

5 0 obj
<< /Type /Page /Group
<< /CS /DeviceCMYK /S /Transparency /Type /Group

[ 27 27 603 783
] /BleedBox
[ -9 -9 639 819
] /Parent 11 0 R /Resources
<< /XObject
<< /Im0 9 0 R /Im1 16 0 R

<< /T1_0 21 0 R /T1_1 8 0 R

<< /GS0 20 0 R /GS1 23 0 R /GS2 25 0 R

[ /PDF /Text /ImageC
]

[ 1 0 0 -1 0 810
] /xt1 27 /Rotate 0 /yt1 27 /StructParents 10 /xt2 603 /yb1 1

[2021-08-02 20:21] gettalong commented on #145
If possible, use the included `hexapdf` command line tool for inspecting PDFs, like with the example command I showed you. Using a text editor will only work in a few cases.

Are you making sure that you duplicate the array before making both modifications? I.e. `bleed_box = trim_box.dup; crop_box = trim_box.dup`.

[2021-08-02 20:43] jcmichaudMarquis commented on #145
I create a new array, then modifying each of the 4 values individually.

    largeurtb = tbf[2].to_f - tbf[0].to_f #values from the original file
    hauteurtb = tbf[3].to_f - tbf[1].to_f #values from the original file
    diffx = (largeurtb - (largeur.to_f * 72)) / 2 #calculate the offset to apply in with to match the job reference, Width
    diffy = (hauteurtb - (hauteur.to_f * 72)) / 2 #calcula

[2021-08-03 08:58] gettalong commented on #145
Your code looks fine at first glance, have you tried inspecting the various arrays to see if the values are as expected? I.e. inserting `p tbc` and so on?

Btw. you can make your code more succinct by writing `tbc = [tbf[0] + diffx, tbf[1] + diffy, tbf[2] - diffx, tbf[3] - diffy]` and so on.

[2021-08-03 12:23] jcmichaudMarquis commented on #145
I have re-tested it, and the values in the array are still correct. I update the Gem to 0.15.7, still the same result.
I tried not to set the mediabox, the bleedbox took the values of the current mediabox, disregarding my values.

I am running Ruby 2.6.3p62 on a Windows Server 2016 Datacenter version 1607

I think you should try it on your side, maybe you can reproduce the result.

Thank you

[2021-08-03 13:31] gettalong commented on #145
Please provide a complete runable sample script that exhibits this behaviour and I will test it.

One thing comes to mind that you might wanna try: Use `HexaPDF::PDFArray.new(bbc)` instead of just `bbc` when assigning the bleed box, and to the same for media and crop box. You may have run into the unlikely case that the source PDF has the same indirect object as value for the bleed, media and crop

[2021-08-03 14:28] jcmichaudMarquis commented on #145
I will try the complete array creation that you suggest, I will give you feedback later today.

I have seen the same result on all pages of all pdf files since I upgraded from Hexapdf gem from 0.14.2 to 0.15.5

Here the inspect result on the original pdf:
37 0 obj
<<
  /BleedBox [18 18 1204.17114 792 ]
  /Contents 65 0 R
  /Group <<
    /CS /DeviceCMYK
    /S /Transparency
    /Type /Group

  /Med

[2021-08-03 16:32] gettalong commented on #145
So it did work correctly before?

I couldn't reproduce the problem,  so if you could provide a script that exhibits this problem, it would be very helpful.

[2021-08-03 18:06] jcmichaudMarquis commented on #145
Well, I'll be damned. The test script I have done produce a good bleedbox, no problem. Sorry to have bothered you, there is something in my code produce the effect, not your software. Here is the code, that works, if you're interested.

require "rubygems"
require "pathname"
require "fileutils"
require "hexapdf"
jobpdfc2 = "C:/Users/switch_services/Documents/C1C4 4C_ok.pdf"
pathpdf = "C:/Users/swit

[2021-08-03 20:51] gettalong commented on #145
No problem!

[2021-08-03 20:51] #145 closed

[2021-08-11 07:10] thanhtoan1196 opened #146 "Could not reconstruct malformed PDF because trailer was not found?"
I got this error, how to fix?

[code]

[2021-08-11 07:54] gettalong commented on #146
Can the PDF be processed by any other application? I.e. can you, for example, view it in a PDF viewer? Have you tried running `hexapdf info --check my-file.pdf`?

Please provide the PDF in question so that I can inspect it and find out why it fails.

[2021-08-13 16:48] gettalong commented on #146
@thanhtoan1196 I will close the issue since I can't do anything without the requested information.

Once you provide the information I will happily re-open the issue.

[2021-08-13 16:48] #146 closed

[2021-08-16 03:02] oddhack opened #147 "Does -v option prevent writing output in some cases?"
I have a document where 'hexapdf --force optimize in.pdf out.pdf' produces the desired output, while 'hexapdf -v --force optimize in.pdf out.pdf' raises warnings:

and no file is written. Is the intent of the '-v' option that it is not just verbose, but also changes processing behavior like this?

I can provide a sample PDF with the specific problem if desired, but that's tangential to the questio

[2021-08-16 06:29] gettalong commented on #147
Thanks for the bug report!

Indeed, the `-v` option should not change any processing behaviour. I have found the problem and will push a new release.

[2021-08-16 06:35] gettalong commented on #147
@oddhack I just released a bug fix version.

[2021-08-16 06:35] #147 closed

[2021-08-16 07:09] oddhack commented on #147
Thanks very much! Verified this fixes the issue for me.

[2021-09-07 12:19] ksocha opened #148 "Issue with setting form value"
Hi @gettalong,

I've encountered an issue with filling a form:

In my pdf, I have a field which consists of two checkboxes (Yes/No, pretty simple case).

Using hexapdf, I'm capable of setting the value of this field to true or false, but I'm not able to reset this group of checkboxes to initial state (no checkbox selected). This may be an issue with my implementation of how values are being shown

[2021-09-07 13:08] gettalong commented on #148
If possible, yes, please send the PDF to info@gettalong.at.

So this checkbox field contains two widgets, is this correct? This means that they both are either checked or unchecked. If you apply a value to the field, all widgets of the field are update accordingly. So either both are checked or both are unchecked since they represent a single field. It is not possible to check one and leave the ot

[2021-09-08 06:12] ksocha commented on #148
@gettalong
I've sent the doc.

Let's assume I have a checkbox field with 2 or more widgets. Each widget has a different export value. With how hexapdf handles setting value to a checkbox field right now, it's impossible to set a value of a field to something else than true or false. It's not possible to set it to one of export values.

From what I can see, in hexapdf only choice fields use export_

[2021-09-08 08:58] gettalong commented on #148
@ksocha Thanks for providing the PDF!

I think I now see what you mean:

* The most common case of checkboxes is to have a single field with a single widget. So there is only on defined value for the "on" state. For example, the label "Do you smoke?" with a single checkbox that when not checked represents no and when checked represents yes.

* Another case is a single checkbox with multiple widget

[2021-09-08 09:11] ksocha commented on #148
Thanks for investigating this so quick!

I suspected the pdf's structure to be a part of the issue, as different pdf readers were handling these checkboxes differently. Sadly, multiple pdfs that I have to work with are most likely having such issues.

I will be more than willing to test the changes, when they are released. My knowledge of pdf spec is very limited, but let me know if I can be of an

[2021-09-08 09:14] gettalong commented on #148
Thanks - testing the changes on different PDFs would definitely help.

[2021-09-20 21:36] jpgeek opened #149 "Adding font using FileFontLoader issue"
It looks like FileFontLoader is broken (or I am misunderstanding its usage).

 lib/hexapdf/document/fonts.rb:86 in configured_fonts():
`          # lib/hexapdf/document/fonts.rb:86:`
`          next unless loader.respond_to?(:available_fonts)`

However, HexaPDF::FontLoader::FromFile does not respond to :avalable_fonts and is thus never returned by configured_fonts.

I can't find any examples on ho

[2021-09-20 22:03] gettalong commented on #149
The `#available_fonts` method provides information from the font loader to the font system which fonts are *always* available. Since HexaPDF itself doesn't know which files are available on any system, there are no defaults here (in contrast to Standard14 which provides the 14 standard PDF fonts and FromConfiguration which uses a configuration value for providing the defaults).

So the file font l

[2021-09-20 22:03] #149 closed

[2021-09-21 00:04] jpgeek commented on #149
Thank you soooo much for the super fast reply - thanks for that.  So it looks like I was misunderstanding the intent of the method.

Trying to add a font using:
`      doc = HexaPDF::Document.new
      ttf_file = '/absolute/path/to/arial/black/tty'
      doc.config['font.map'] = {:Arial => {black: ttf_file}}
      doc.fonts.add(:'Arial', variant: :black)
      canvas = doc.pages.add.canvas
      c

[2021-09-21 06:27] gettalong commented on #149
The font name needs to be a string, as can be seen by the output of `#configured_fonts`. So use `"Arial"` instead of `:Arial`.

[2021-09-21 13:14] jpgeek commented on #149
Thank you!
I have tried both ways and get the same error.

As an aside, from the docs at lib/hexapdf/configuration.rb:244 but wasn't totally sure which it was signifying, since "Arial": returns a symbol.  It might be best to change it to use rocket style hash?

[code]

to
`  #      {"font_name" => {:variant => file_name, :variant2 => file_name2, ...}, ...}`

[2021-09-21 13:36] gettalong commented on #149
Thank you, you are completely right, that should be a hash-rocket - fixed for the next release!

[2021-09-21 15:26] JRSeabird opened #150 "Fill PDF AcroForm text field with boldface text: Font not accepted?"
I have a pre-existing pdf form. Filling in the form manually, one of its text fields shows its value in boldface type. When using HexaPdf to fill this field, the text should also appear in boldface, but it appears in regular type.

I fill the field with

[code]

To get this to be shown in boldface, I have tried the following:

[code]

This gets the error message "The requested font 'Helvetica-Bold

[2021-09-21 16:24] gettalong commented on #150
Thanks for reporting this!

It is indeed an issue as there is no way to do this currently with that method - I will fix it for the next release.

You can use the following work-around until then:

[code]

[2021-09-21 20:56] gettalong commented on #150
@JRSeabird Hmm... auto-sizing should still work. Would it be possible that you share the PDF where it doesn't work?

[2021-09-21 23:36] jpgeek opened #151 "Adding fonts, closing file handles for fonts clarification"
I have been able to add a font using this:

[code]

Apparently by using the font.map I don't have to instantiate and configure a
`HexaPDF::FontLoader::FromFile`

However, tracing the code it looks like it is used underneath to open the font file, and the documentation for it says:
[code]

Sure enough, when I inspected:
`ObjectSpace.each_object(File).to_a`
it shows that the handle is still open.

W

[2021-09-22 03:24] JRSeabird commented on #150
Yes, you can find it on [this page](https://www.zh.ch/de/bildung/informationen-fuer-schulen/informationen-volksschule/volksschule-fuehrung/volksschule-personal-fuehren/volksschule-personal-beurteilen.html#830862349) -> go to "Für Lehrpersonen" -> it's the file "Beurteilungsdokument Lehrperson".
:

I'm also having trouble using the checkboxes in this form, always getting the message that they don't

[2021-09-22 06:08] gettalong commented on #150
@JRSeabird Thanks for providing the PDF!

I will see about the problem with the auto-sizing later.

As for the check boxes: This is the same issue as in https://github.com/gettalong/hexapdf/issues/148 where two check boxes are used to act like a radio button group. So this will work soon.

[2021-09-22 06:51] gettalong commented on #151
To close the underlying file object, store the font object returned by `doc.fonts.add` and then close the IO object via `font.wrapped_font.io.close`.

As for loading a TTF file: You can also just provide the file name directly to `doc.fonts.add` and it will work.

N.B. the situation is similar with images. However, there is already a configuration option "image_loader.pdf.use_stringio" to make Hex

[2021-09-22 06:51] #151 closed

[2021-09-28 07:03] earthlingworks opened #152 "Issue flattening annotations"
Hello again! Most files are working ok for us but there are a few PDFs that get an error when flattening annotations.

I'm going to share the code to duplicate the issue here and then I'll share one of the problem PDFs through email since I can't share publicly.

[code]

[2021-09-28 07:51] gettalong commented on #152
Thanks for providing the file!

The exception comes due to the fact that the file is invalid because one annotation's flags key is set to a float value of "4.0" instead of an integer of "4".

I will see how to best overcome this problem, most probably by introducing a new dictionary field converter module.

[2021-09-28 12:17] gettalong commented on #152
@earthlingworks So the idea with the new field converter module works. Will put this into a bug fix release.

[2021-09-28 14:13] gettalong commented on #152
@earthlingworks HexaPDF 0.16.0 released with the needed change!

[2021-09-28 14:13] #152 closed

[2021-09-28 16:18] earthlingworks commented on #152
Already replied through email but yes, this release fixed the issue for us. Thank you!

[2021-10-03 00:17] brandondrew commented on #118
I don't know if you appreciate the extent to which developers are expected to deliver features in a timely way, and consulting a lawyer suddenly means _an indefinite amount of time that is entirely outside of our control_ delaying our progress.  If it turns out that it is _possible_ to deliver the same feature without having to consult the lawyer, our judgement in raising the question will itself

[2021-10-03 07:46] gettalong commented on #118
@brandondrew I understand what you are saying and I get it that this is often a problem. However, this is something I can't solve.

Regarding an answer: Alas, there is *no* simple answer. The best I can give you: The AGPL's copyleft provision comes into effect when code gets distributed. In case of AGPL distribution also means use via a remote network. So if you are developing an application that

[2021-10-03 08:48] joshco opened #153 "link to embedded file?"
How do i make a link to an embedded file?

I'm using composer for most of the text in the pdf, and composer.document to do the files.
I've already got the embedded files added in the files collection and can view them from the reader's embedded files UI pane.

However, I can't figure out to make the link to those files.
Ideas?

[2021-10-03 09:14] gettalong commented on #153
So you want to make a link similar to a hyperlink to a web page but to one of the embedded files? This is possible with File Attachment Annotations, however, there is no convenience support currently built into HexaPDF to use them.

I will see what it would take to implement them.

[2021-10-03 09:21] joshco commented on #153
Yeah, I'm more focused on the functionality rather than styling.  I looked at the issue on actions, and the PDF spec talks about the go_to_e with the N param.  However, I couldn't figure out how I emit that inline with the text I'm outputting.
Imagine a table of files, I want to put a clickable link to the embedded file.  Not all users are familiar with the embedded files tab in reader...

| FIlen

[2021-10-03 10:52] gettalong commented on #153
Yeah, there is the GoToEmbedded action but I think it is not the correct one. From what I gather using a file attachment annotation would be the way to go.

[2021-10-03 12:13] gettalong commented on #153
@joshco Try the following for the time being:

[code]

This custom overlay adds a file attachment annotation and in my limited testing it appears to do what you want. If that is the case, I will add a proper implementation for this.

[2021-10-05 14:14] sled opened #154 "Error: "Widget of radio button doesn't define unique name for on state""
If I have a radio group or checkbox with the following appearance:

- Border Color: Transparent
- Fill Color: Transparent
- Line Thickness: Thin
- Line Style: Solid

Then I get the error "Widget of radio button doesn't define unique name for on state" at https://github.com/gettalong/hexapdf/blob/master/lib/hexapdf/type/acro_form/appearance_generator.rb#L173

However, if I change the Line Style to

[2021-10-05 15:35] joshco commented on #153
I tried this.  It puts the icon stretched over the text.
![image](https://user-images.githubusercontent.com/290314/136052914-269eeb96-1d3c-4106-b596-d8c19dc1d5ba.png)
I've also been exploring Collection in the catalog. Which is actually a really neat UI.

![image](https://user-images.githubusercontent.com/290314/136055241-989ce493-857f-4245-a19c-baa8f13f81d4.png)

Alas, I'm not hearing that the pr

[2021-10-05 18:59] gettalong commented on #153
Hmm... while testing I saw the stretched image, too. But once I added `/Name /Something` (which defines the icon to be used), the images were not used in the viewers I tested (on Linux). You can try setting an empty appearance stream for the annotation which should prevent viewers from using a default appearance.

You can easily import pages from other PDF files and insert them anywhere like an im

[2021-10-05 19:22] gettalong commented on #154
A first quick test shows that the `fruit_choice` doesn't work properly in any of the viewers I tested with (Evince, Okular, Acroread for Linux (caveat: *very* old)).

I think that you stumbled upon two things:

* One known bug (see https://github.com/gettalong/hexapdf/issues/148#issuecomment-915050110 where terminal form fields without a link to their parent [or even without parent] with the same

[2021-10-06 11:07] sled commented on #154
@gettalong I downloaded my uploaded file again and indeed, it behaves differently - maybe I opened it in Preview and it got modified, here's another try:

[choices.pdf](https://github.com/gettalong/hexapdf/files/7293126/choices.pdf)

[2021-10-06 11:41] gettalong commented on #154
Thanks! This file works fine as it is in my PDF viewers on Linux. But now I get the HexaPDF error - hurrah! :wink:

[2021-10-08 09:50] ksocha opened #155 "`:Helvetica can't be coerced into Integer` while saving field value"
Hi @gettalong

I've encountered the above error while setting a string value as field value.
`#<TypeError: :Helvetica can't be coerced into Integer>`

The doc I've used is the same I sent you in #148
Field name is: `Account no`

Stacktrace:
[code]

I'm not certain if this is something that should be handled by the lib, or the pdf itself is faulty in some way.

[2021-10-08 10:27] gettalong commented on #155
So it seems that some of the /DA values of that PDF are invalid because they contain `"//Helvetica 12 Tf 0 g"` - note the double slash.

According to the PDF spec: *"The token SOLIDUS (a slash followed by no regular characters) introduces a unique valid name defined by the empty sequence of characters."*.

This means that `//Helvetica` are actually two object, an empty name object `:""` and `:Helv

[2021-10-08 11:34] eregon opened #156 "No Gemfile and rake dev:setup is broken"
[code]

This makes it hard to run the tests.

[2021-10-08 11:59] gettalong commented on #156
I don't have a need for the Gemfile, therefore there is none in the repo.

Thanks for the report about `rake dev:setup` - I have fixed it and pushed the changes to the repo.

[2021-10-08 11:59] #156 closed

[2021-10-08 16:52] eregon commented on #156
Actually the fact it's in repo is useful for contributors IMHO, it's easy to see what's run in CI and what's needed to get started.
I typically look there rather than searching in the README or so.
A CI is also nice for feedback when making a PR (e.g., system packages might not be installers on the dev machine and so some tests are skipped).

Somewhat related, when TruffleRuby fixes the last issue

[2021-10-17 21:09] gettalong commented on #155
@ksocha This is fixed in the next release.

[2021-10-17 21:09] #155 closed

[2021-10-19 10:07] #150 closed

[2021-10-21 08:10] sled opened #157 "Setting nil as field value of a single line text field value crashes"
I just noticed, that if I set `nil` as `field_value` to a "Single Line Text Field" HexaPDF crashes because, `.gsub` is not defined on `nil`, this happens here: https://github.com/gettalong/hexapdf/blob/master/lib/hexapdf/type/acro_form/text_field.rb#L168 where it apparently replaces tabs, newlines etc. with a regular space character.

It's a bit unexpected, as `nil` works perfectly fine for other

[2021-10-21 10:48] gettalong commented on #157
Thanks for the bug report - just in time for the upcoming release this evening :wink:

[2021-10-21 12:22] #157 closed, assigned to gettalong

[2021-10-21 22:02] earthlingworks opened #158 "New flattening annotations issue"
Hello Thomas! We have another PDF that is giving us an error when flattening annotations and could use some help with this if possible. I'll send the PDF through email again. Script below.

require 'hexapdf'
​
[code]

[2021-10-25 09:17] btazi opened #159 "How to change the color of the fonts text_fields / acro_form ?"
So I managed to change the font of my text_fields using `document.config['acro_form.fallback_font']` .
Now I just need to change the color of the text fields but I couldn't find anything in the documentation.

[2021-10-26 11:41] eregon opened #160 "No Gemfile causes conflicting gem activations"
In https://github.com/gettalong/hexapdf/issues/156

But for instance the lack of a Gemfile makes it difficult for me to run the hexapdf test suite on CRuby 3.0.2:
[code]

The only workaround I can think of would be to remove all gems, but that is a too inconvenient workaround.

[2021-10-26 13:46] #160 closed, assigned to gettalong

[2021-11-02 09:54] gettalong commented on #159
@btazi This will be implemented for the next release.

[2021-11-02 09:58] gettalong commented on #153
@joshco Is there still something to do for this issue?

[2021-11-02 10:00] gettalong commented on #125
@matpowel Is there still something to do on my side for this issue?

[2021-11-02 18:18] matpowel commented on #125
@gettalong I can't see any record of those errors in the logs now, I believe we have a couple of weeks of retention so looking good! Thanks for chasing this up. We're on version 0.15.8 now btw.

[2021-11-02 19:33] gettalong commented on #125
@matpowel Thanks for getting back to me - than I will close this issue now! Feel free to open a new one if something pops up!

[2021-11-02 19:33] #125 closed

[2021-11-03 21:33] gettalong commented on #159
@btazi I have implemented this. Now you can specify the font color and it will be used by the appearance generator.

[2021-11-03 21:33] #159 closed

[2021-11-03 22:53] earthlingworks opened #162 "Error: "Problem while decoding Flate encoded stream: incorrect header check""
Hi Thomas! We're seeing a specific error with a PDF:

`HexaPDF::FilterError (Problem while decoding Flate encoded stream: incorrect header check)`

The script to duplicate:

[code]

I'll send an email with the PDF for you to troubleshoot with. Thanks!

[2021-11-04 07:57] gettalong commented on #162
Thanks for the bug report and the file!

I have discovered the problem and along another bug or two and some places where things could be improved. Will fix this and do a release because the original problem is quite severe as it leads to corrupted files.

[2021-11-04 20:23] earthlingworks commented on #162
Ok, good to know and thanks!

[2021-11-04 21:09] gettalong commented on #162
@earthlingworks I have just released 0.18.0 with the fix!

[2021-11-04 21:12] #162 closed

[2021-11-14 08:50] joshco commented on #153
not right now.  I'm exploring another approach (than embedded files)

[2021-11-14 08:50] #153 closed

[2021-11-15 07:22] xenyal opened #163 "Odd behaviour with setting value on text field"
I'm noticing an odd issue when using HexaPDF to set a value on a TextField. If I were to open an example PDF using Mac OS preview, or Adobe Acrobat, I'm able to set a value on a given TextField with the layout of the text looking like the below screenshot (of which the blue background is the TextField area):
![image](https://user-images.githubusercontent.com/1797007/141738349-2080baf7-3852-4048-af

[2021-11-15 11:14] gettalong commented on #163
The location of the text is determined by various factors, e.g. the annotation rectangle, font size, font properties and it also tries to mimic the way Adobe Acrobat does it as good as possible. So I would need to have the PDF document in question to have an in-depth look at it why the placement is different.

As for the rectangle and its height: The PDF rectangle data structure is defined by four

[2021-11-15 15:34] xenyal commented on #163
Thanks for the response @gettalong! Here's an example of a PDF that contains the problematic TextFields I was talking about: [blank.pdf](https://github.com/gettalong/hexapdf/files/7539707/blank.pdf)

I've previously worked with PDFBox using jruby to handle resetting of the text field properties such as `:FF, FLAG_COMB | FLAG_MULTILINE, false` in which case certain behaviours of the text field gets

[2021-11-15 18:42] gettalong commented on #163
Thanks for the PDF!

Some observations:

* The reason why the text is truncated is because one should only write within the annotation rectangle. So when HexaPDF creates an appearance stream for an annotation, it makes sure that the contents is clipped to the annotation rectangle.

* The fields themselves are flagged as multiline text fields although it appears that they are actually only single l

[2021-11-15 18:49] xenyal commented on #163
Awesome, thanks so much for the tips! Might there be any examples for how to construct or set annotation rectangles for a multiline text field? I figure that'd also require some level of calculation with respect to line spacing and the number of lines that can fit into the text field in that case.

[2021-11-15 20:17] gettalong commented on #163
Hmm... setting the rectangle is as easy as `widget[:Rect] = [llx, lly, urx, ury]`. However, calculating the required height w.r.t. the number of lines is a bit trickier because it depends on the application/library generating the appearance. The default appearance generator shipped with HexaPDF uses the `HexaPDF::Layout::TextLayouter` class to do the actual layouting, using proportional line spaci

[2021-11-15 20:31] gettalong commented on #163
@xenyal I just activated Github Discussions, so that is probably the best place from now on to ask questions :smile:

[2021-11-17 14:15] xenyal commented on #163
Much appreciated @gettalong !

[2021-11-23 21:59] robjperez opened #166 "Help adding links to named destinations"
Hi, :wave: . First of all, thanks for this amazing library :)

Now, to the question:

Reading the documentation I see
[code]
I wonder how I can create the named destination on the target page.
Let's say I write
[code]
How can I add the `chapter3` reference in the chapter3 page?

Thanks!

[2021-11-23 22:11] gettalong commented on #166
There are currently no helper methods for easily generating destination arrays. Such an array looks like `[doc.pages[0], :XYZ, 50, 100, 0]` - this will specify a destination on the first page at the location (50, 100) - see section 12.3.2 in the PDF specification for details.

A named destination is just such a destination array registered under `doc.catalog[:Names][:Dest]`.

So what you might wan

[2021-11-23 22:56] earthlingworks opened #167 "Argument error on PDFs"
Hey Thomas! I have two different PDFs getting the same error:

Code to reproduce:

[code]

I'll send the PDFs through email. Thanks!

[2021-11-23 23:10] robjperez commented on #166
Thanks for the quick reply!

Can you post an example on how can I register an array under `doc.catalog[:Names][:Dest]`. I'm trying different approaches but none of them seems to work.

Thanks in advance!

[2021-11-23 23:16] gettalong commented on #166
I just saw that I wrote `Dest` instead of `Dests`, updated my comment.

This should do the trick:

[code]

I should probably add the necessary convenience methods for the named destinations - added to my TODO list.

[2021-11-23 23:22] gettalong commented on #167
Thanks for the files!

I have looked at the first one and it seems that it used invalid timestamps, ie. `D:01211016165909+00'64'`. I will probably just ignore such timestamps and return null values for them.

[2021-11-23 23:32] robjperez commented on #166
Thanks again,
Just wrote this sample code

[code]

It worked as expected, when clicking on the square in page 1, it went to page 3.
Also, if you open `test.pdf` with another editor, add 2 pages in between 1 and 3, link still goes to what it was page 3, even though it is page 5 now. :tada:

[2021-11-24 07:20] gettalong commented on #167
@earthlingworks Just a quick update: The regular expression for matching valid dates was a bit too relaxed for the invalid timestamps in this file. I have modified it to be a bit more strict (while still allowing for the various [invalid] variations found in the wild).

It seems the timestamps in those files weren't properly converted to the needed format because the example I have given above wou

[2021-11-24 07:20] #167 closed

[2021-11-24 07:22] gettalong commented on #166
Great! :smile: The link still work because the reference is to a page object and not to a page number.

[2021-11-24 07:22] #166 closed

[2021-11-24 21:36] gettalong commented on #167
@earthlingworks Just released the new version with the fix.

[2021-11-24 21:53] earthlingworks commented on #167
Great, thank you!

Ruben
------------------------
Founder, http://www.bidsketch.com
Twitter: http://twitter.com/bidsketch

On Wed, Nov 24 2021 at 1:37 PM, Thomas Leitner < ***@***.*** > wrote:

[2021-11-26 11:45] Nakilon commented on #1
Can't find it now.

[2021-11-26 14:17] gettalong commented on #1
@Nakilon This is the correct link. The example uses an existing PDF, parses it's content and display borders around the characters. It only adds vector graphics on top but you can do anything, text, images, ....

[2021-12-09 23:48] earthlingworks opened #168 "Question about reading text from PDFs with custom font encoding"
Hi Thomas! We're doing something new where in some cases we have to identify some special text tags in PDFs using HexaPDF.

We did this by running into problems with copying and modifying some example code we found in one of your issues where the TextProcessor class was overridden:

[code]

This usually works great, though with certain PDFs we've been having problems and we found that it's anytime

[2021-12-10 07:50] gettalong commented on #168
I will have a more detailed look later.

From what I can see that file uses only Type3 fonts which are neither TrueType nor OpenType fonts but where the characters are defined by PDF content streams. All font objects have a `/ToUnicode` cmap for getting the character values, so that's good.

Type3 fonts only have a simple implementation in HexaPDF but should generally be usable with what you want

[2021-12-10 16:43] gettalong commented on #168
@earthlingworks I found two problems. The error itself comes from Type3 fonts using a different key for the font bounding box. The other issue was with the calculation of the scaled font size which is different for Type3 fonts. Both issues will be fixed with the next release.

![image](https://user-images.githubusercontent.com/4104/145607677-0dfb4999-0cc7-4dea-b876-6a272ed4cf4d.png)

FYI: Each cha

[2021-12-10 22:45] earthlingworks commented on #168
@gettalong Nice! That's great to hear. Pretty amazing the amount of things you have to take into account in PDFs.

Anyway, thanks. This will be a big help in the amount of PDFs we're able to support.

[2021-12-12 22:29] gettalong commented on #168
@earthlingworks This is now fixed in 0.19.1 - please let me know if other problems crop up!

[2021-12-12 22:29] #168 closed

[2021-12-13 19:19] earthlingworks commented on #168
@gettalong Excellent; thank you!

[2021-12-14 01:10] earthlingworks opened #169 "PDF is showing 0 pages"
Hey Thomas, for some reason we have a PDF that seems ok in Acrobat but it's showing up as having 0 pages in HexaPDF.

[code]

I'll send the PDF through email; thanks!

[2021-12-14 07:36] gettalong commented on #169
If you get such a file you can run `hexapdf info --check file.pdf` to see what HexaPDF thinks about the file in terms of structural and validation problems.

In this case HexaPDF doesn't find the end-of-file marker although it is surely there (just looked at the file in an editor). The reason for this is that the `startxref` keyword and the position are on the same line instead of two different li

[2021-12-14 14:41] gettalong commented on #169
@earthlingworks I have added the work-around for the invalid "startxref VALUE" situation and the file can now be handled by HexaPDF without problems. HexaPDF 0.19.3 with the fix was just released.

[2021-12-14 14:41] #169 closed

[2021-12-14 22:14] earthlingworks commented on #169
@gettalong Great; we'll get the fix in right away, thank you! And thanks for the tip about checking the file.

[2021-12-25 01:28] vivek1234567890 opened #170 "Need to put dynamic text by replacing any text -"
I have an application in Ruby on Rails. I have some predefined Pdf templates which include some dynamic variable like {{firstname}}, {{lastname}}, {{email}} etc. I want to replace these text with dynamic data in pdf without affecting the pdf formatting like font size and color.
Any help(code snippet) would be appreciated.

[2021-12-25 08:17] gettalong commented on #170
HexaPDF doesn't have any text reflow capabilities. Finding that text and replacing it with something else will work. However, **all other text** will stay the same, e.g. at the same position. This means that if the surname is longer than your placeholder text, it will overlap with the following text.

If this is of no concern to you, have a look at https://hexapdf.gettalong.org/examples/show_char_

[2022-01-22 21:23] mdonagh opened #172 "How to flatten PDF fields that have javascript widgets associated?"
[example.pdf](https://github.com/gettalong/hexapdf/files/7919299/example.pdf)
See example PDF here - this has the fields populated, I cannot figure out how to get them to flatten.

I've been able to get the fields populated with the below:
[code]

However, when I flatten the PDF fields with the below, they are all empty.

[code]

Also, when I flatten the fields this way rather than our legacy meth

[2022-01-22 23:26] gettalong commented on #172
I have looked at it but can't reproduce the problem (I ran into a bug while trying various things that will be fixed with the next release, though).

I tried the following script:

[code]

The resulting file shows the form fields when inspecting visually:
![image](https://user-images.githubusercontent.com/4104/150658587-3fd5e946-f64f-4de0-8589-334445b3f0b5.png)

I also tried modifying a field inse

[2022-01-27 19:58] rubyFeedback opened #173 "[Documentation] Could the main README state whether hexapdf works on windows by default as well, and whether one can generate .pdf files on windows too?"
(My apologies for the rest of this issue request being written in german, save for the last TL;DR part, but it feels a bit more appropriate to use slight ~viennese slang. :D)

Sers Thomas,

Ich habe ein paar ruby gems die aktuell prawn verwenden. Im README führst du an das ein Ziel von hexapdf
sein wird, das hexapdf ähnlich wie prawn verwendet werden kann (also "content generation", sprich, ein .p

[2022-01-27 21:10] gettalong commented on #173
sein wird, das hexapdf ähnlich wie prawn verwendet werden kann (also "content generation", sprich, ein .pdf
Dokument erstellen).

Genau, das kann HexaPDF bereits.

Die low-level Variante ist einfach die Benutzung [HexaPDF::Content::Canvas](https://hexapdf.gettalong.org/documentation/reference/api/HexaPDF/Content/Canvas.html):

[code]

Die high-level Variante ist die Benutzung von [HexaPDF::Compose

[2022-01-27 21:10] #173 closed

[2022-02-06 15:12] rubyFeedback commented on #10
Hmm. Just commenting here, rather than creating a new issue/question. I think hexapdf versus qpdf is also an interesting example; the qpdf author is still very active. Prawn is unfortunately not that active anymore, so I think more people will switch from prawn to hexapdf in the long run. I know I may do so this year, most likely - I even have a set-time to really research hexapdf seriously, and t

[2022-02-06 17:23] gettalong commented on #10
@rubyFeedback I already have an item on my TODO list for adding some "hexapdf vs ..." pages to the HexaPDF website, so vs qpdf, vs mutool, vs cpdf (i.e. HexaPDF CLI vs other CLIs) and also HexaPDF vs Prawn vs Origami vs CombinePDF vs WickedPDF, ... Didn't yet have time to it though.

As for Prawn: There has been a flurry of activity the past few days, with one new contributor starting to contribut

[2022-02-08 10:25] ruinunes opened #175 "How to edit/remove the PDF Producer?"
My pentester is arguing that revealing the PDF Producer gives too much information.
<img width="416" alt="image" src="https://user-images.githubusercontent.com/2411102/152968529-e6d717a1-6561-4948-83cc-468b7d03b305.png">
Is there a way to change the metadata/properties?

[2022-02-08 11:49] ruinunes commented on #175
Found a solution by extending `HexaPDF::Writer`.
`CustomWriter < HexaPDF::Writer`
and overwriting the `write` method.

But I wonder if there is any other way.

[2022-02-08 14:20] gettalong commented on #175
It depends on the license, i.e. whether you are using the AGPL version or the commercial version. With the AGPL version you are not allowed to change the producer, see https://github.com/gettalong/hexapdf/blob/master/LICENSE#L24-L26. Therefore it is intentionally not that easy to change it.

The commercial license doesn't have this provision, so you are allowed to remove the mentioning of HexaPDF.

[2022-02-09 08:43] ruinunes commented on #175
@gettalong yes, this what we're looking for. Thanks for the explanation and your time.
Love working with this gem btw 👍

[2022-02-09 08:43] #175 closed

[2022-02-09 09:59] gettalong commented on #175
@ruinunes Thanks! :smile: If you come across any pain points (except the one discussed here :grin:), please let me know!

[2022-02-10 14:34] rubyFeedback opened #176 "Font support and handling fonts in hexapdf, as well as improved documentation and "feedback" method"
This is a bit of a "meta"-issue request.

I am using the "Hack" font a lot; I like it. Monospaced fonts are nifty for code layout and stuff but I guess Thomas knows that anyway. :)

I found this snippet from ~8 months ago:

https://gist.github.com/gettalong/5f13d27a2170e507cd890aa3a4273a43

Unfortunately this here:

    require 'hexapdf/font/ttf_wrapper'

does not work. But more generally, I am wo

[2022-02-10 15:32] rubyFeedback commented on #176
Hmm not quite though ...

    Adding the font from: /usr/share/fonts/truetype/hack/Hack-Regular.ttf

    hexapdf-0.20.4/lib/hexapdf/document/fonts.rb:76:in `add': The requested font 'Hack-Regular' in variant 'none' couldn't be found. Configured fonts: Courier (none, bold, italic, bold_italic), Helvetica (none, bold, italic, bold_italic), Symbol (none), Times (none, bold, italic, bold_italic), Zapf

[2022-02-10 15:32] #176 closed

[2022-02-28 16:48] eric-hemasystems opened #177 "Expected return value for `font.on_missing_glyph`?"
I am occasionally getting a "Glyph for <some_char> is missing" error. [Your documentation](https://hexapdf.gettalong.org/examples/standard_pdf_fonts.html) where it says:

helped me determine if I want a fuller range of character support I need to embed my own TrueType font. This seems to have resolve a lot of the issue but user data still occasionally has characters that don't have a glyph in my f

[2022-02-28 18:47] gettalong commented on #177
Yes, `font.on_missing_glyph` is exactly for such a situation.

* What you can do to have access to the document instance is setting the option after creating the document:

[code]

* The `Glyph` class is private, yes. But you can get instances via the `#glyph` method if you know the correct ID (or name in case of Type1 fonts). Since you need knowledge of the internals, the API docs say that this m

[2022-02-28 20:26] eric-hemasystems opened #178 "Unexplained conversion from space character to non-breaking space character (nbsp)"
My code writes text to on top of a PDF. Some snippets that come from inside a class are:

[code]

In my test suite I'm basically running:

[code]

to write the literal string "Order number" into the PDF.

To verify the content is in the PDF I use the following utility class in my test suite:

[code]

The idea is to extract all text from the resulting PDF and see if my written content is at least o

[2022-02-28 20:45] eric-hemasystems commented on #177
I attempted this. Here is how I'm creating and configuring my document:

[code]

`background_io` is a `StringIO` object of an existing PDF (download from ActiveStorage). With this in place I still get the missing glyph error. Furthermore I replaced the proc with just a debugger statement:

[code]

When I ran my test it never stopped in the callback. If I do the same thing globally:

[code]

it doe

[2022-02-28 21:10] gettalong commented on #177
You are right, this is indeed the problem. I will fix this in a bug fix release in the next few days. Thanks for the debugging! :pray:

[2022-02-28 22:13] gettalong commented on #178
So for this I have to dig a little bit into how TrueType fonts and using embedded TrueType fonts work.

TrueType fonts store the information about a glyph (a visual representation of a character) in various parts, so called tables, of the file. For example, there is one table which contains the widths of the glyphs and another that contains the font programs themselves. To access the information f

[2022-03-01 15:16] eric-hemasystems commented on #178
Thanks for the explanation.

The font file where the test pass (on CI) is the same as where it doesn't pass (on my local machine) as they are all out of the same repo. But they are different systems (Mac vs Linux) so maybe that has something to do with it.

As far as I know there is not a nbsp already on the PDF. I made the PDF loaded myself for the test suite to be just a blank PDF via the comman

[2022-03-01 15:16] #178 closed

[2022-03-03 15:58] gettalong commented on #177
@eric-hemasystems I have changed the block signature for the `font.on_missing_glyph` configuration option and fixed the caching bug. Will release later today or tomorrow.

[2022-03-03 15:58] #177 closed

[2022-03-03 16:05] gettalong commented on #172
@mdonagh I just tried this again to make sure it still doesn't work for me with the latest code and, alas, I still can't reproduce the problem. Could you provide a sample script?

[2022-03-03 16:09] gettalong commented on #170
@vivek1234567890 Another idea: Don't use the dynamic variables but use form fields. Then you don't need to do the hard text processing part but can just iterate over the form fields, fill them out and then flatten the form. Note, however, that for this to work you would still need to ensure that the form fields are big enough as there would still not be any text reflow.

I will close this issue no

[2022-03-03 16:09] #170 closed

[2022-03-04 22:09] gettalong commented on #177
@eric-hemasystems New version 0.21.0 is out with the fixes.

[2022-03-24 18:37] earthlingworks opened #179 "Errors when using flatten_annotations"
Hello! We're seeing some errors using `flatten_annotations` on some PDFs.

One of the errors:

[code]

The other error:

[code]

These errors were there in the previous version and still there in the current version. I'll send the PDFs through email. Thanks!

[2022-03-24 18:49] gettalong commented on #179
Thanks for the files - I will have a look!

[2022-03-24 20:31] gettalong commented on #179
The error `NoMethodError (undefined method `configuration' for <HexaPDF::Document:77520>:HexaPDF::Document)` is a bug in HexaPDF which I will fix. However, I couldn't reproduce it using your provided file.

[2022-03-24 21:17] earthlingworks commented on #179
@gettalong ok, thanks. Sorry, I just realized that I forgot to provide the script to reproduce. Here it is in case it's helpful:

[code]

[2022-03-24 21:21] gettalong commented on #179
@earthlingworks Thanks - can confirm that the second error is fixed. Will do a bug fix release.

[2022-03-24 21:22] earthlingworks commented on #179
Great; thank you!

[2022-03-26 22:31] gettalong commented on #179
@earthlingworks I just released version 0.22.0 with the fix.

[2022-03-26 22:31] #179 closed

[2022-03-26 22:32] gettalong commented on #172
@mdonagh Since you haven't responded and I can't reproduce the problem, I will close the issue. If this is still a problem, please let me know and I will re-open the issue.

[2022-03-26 22:32] #172 closed

[2022-03-28 23:28] earthlingworks commented on #179
Thank you!

[2022-04-14 03:25] orklann opened #180 "Does Type1 use font subsetting just like Hexapdf did to True Type font"
Hello, It seems Type1 fonts do not subset just like you did to True Type font, is it right? I am not sure, just reading the source code, and I can not find any subsetter for Type1 fonts.

[2022-04-14 05:45] gettalong commented on #180
You are completely right, Type1 fonts are not subset by HexaPDF. The simple reason for this is that the only supported Type1 fonts are the built-in standard PDF fonts which do not need to be embedded or subset to be available because these font files need to be installed by default by each PDF reader.

[2022-04-14 05:54] orklann commented on #180
Yeah, If only 14 standard Type1 fonts can be handled, then no need to subset them, because they are assumed to be embedded in the PDF processor.

But is it always true that, there is no embedded Type1 fonts in PDF, I mean can we embed Type1 fonts (Not the 14 core fonts) into a PDF file?

[2022-04-14 06:08] gettalong commented on #180
Yes, generally speaking, arbitrary Type1 fonts can be embedded, either in full or subset. However, HexaPDF doesn't support such Type1 fonts, only TrueType fonts.

[2022-04-14 06:21] orklann commented on #180
Thank you for great answer. :D

[2022-04-14 06:30] #180 closed

[2022-05-04 23:44] rubyFeedback opened #181 "[Smallish idea] Example for creating a new .pdf file, similar to "hexapdf modify", but specifying which pages to KEEP rather than remove"
Sers gettalong,

You offer an example and feature to create a new .pdf file such as this:

    hexapdf modify input.pdf -i 1-5,7-10,12-e output.pdf

Documentation states:

    Page removal: Remove the pages 6 and 11 from the input.pdf.

I have a similar use case, but an elderly relative needs to specify
which pages to KEEP, then create a new .pdf file from that.

I assume this is possible; I think

[2022-05-05 00:00] rubyFeedback commented on #181
Aha - just found this here:

https://www.viget.com/articles/splitting-pdfs-with-hexapdf/

That was a very nice read with explanation too. \o/

So I guess this request here is mostly just a documentation-improvement if you ever find some time. Probably no
change to the code is necessary.

[2022-05-05 00:12] rubyFeedback opened #182 "[Documentation] prawn-to-hexapdf guide"
Yo,

You currently mention this:

"Such functionality will be incorporated into HexaPDF in the near future"

So perhaps hexapdf may one day replace prawn. What I was thinking
here was ... some prawn users could probably already migrate to
hexapdf. But there is always a cost of learning a new toolset, and
many users are lazy (well I am, but I know there are many other
lazy folks out there too).

Th

[2022-05-05 09:30] gettalong commented on #181
Thanks for making me aware of this!

So, I think this stems from me knowing that `hexapdf modify` can naturally also be used for page selection. E.g. the documentation for the example you mentioned could also just be: "Page selection: Select only the pages 1 to 5, 7 to 10, and 12 to the end."

Since I thought this use case was obvious I didn't provide an explicit example. The documentation for the

[2022-05-05 09:30] #181 closed

[2022-05-05 09:36] gettalong commented on #182
Thanks for the idea!

At one time I thought to make a Prawn-compatibility layer for HexaPDF but gave up since there are many small differences in behaviour that would need to be addressed. So having such a corresponding feature table would certainly be useful.

[2022-05-17 21:37] gettalong commented on #182
@rubyFeedback I have taken your idea and put up an initial document  at https://hexapdf.gettalong.org/documentation/howtos/migrating-from-prawn.html - would love to get your feedback on it!

It currently provides a simple-ish example and then a mapping from Prawn to HexaPDF for the various operations there are, with additional info on what's only available in Prawn or in HexaPDF.

You wrote about

[2022-05-19 09:22] jurriaanschrofer opened #183 "ArgumentError: wrong number of arguments (given 9, expected 7)"
Hi Thomas,

First of all, thank you for this wonderful gem – I have been using it for a long time with pleasure!

Last night, I have run into my first hexapdf gem error on production (hexapdf version ```0.22.0```):

```ArgumentError: wrong number of arguments (given 9, expected 7)```

The line were the crash occurred, is ```lib/hexapdf/content/operator.rb line:195```

Naturally, I have tried to bu

[2022-05-19 13:11] gettalong commented on #183
The reason for the failure is invalid data inside the content stream of the page:

[code]

The `cm` operator needs 6 numbers as arguments. The first four are okay, being 1, 0, 0, and 1. However, the last two are actually invalid numbers and are interpreted as 0, -2842171, 0, and -11368684; so four numbers instead of two.

The PDF spec says "*In PDF, all of the operands needed by an operator shall

[2022-05-20 08:55] gettalong commented on #183
I guess what viewers like Okular do is simply ignoring the invalid instruction, see this screenshot when opening the file:

![image](https://user-images.githubusercontent.com/4104/169491066-f270361a-ec9e-454d-b79d-733f6acd9948.png)

 In this case there probably aren't any consequences because my guess is that the operation itself is redundant.

That's rather easy :wink: There are myriad ways of in

[2022-05-20 09:13] gettalong commented on #183
@jurriaanschrofer The fix will take the configuration option 'parser.on_correctable_error' into account, i.e. call it when an error is detected. So by default it will just ignore an invalid operation.

By the way: After correcting the document using the fix and `hexapdf opt --compress-pages invalid.pdf output.pdf` the visual appearance in Okular is the same.

[2022-05-20 12:20] jurriaanschrofer commented on #183
Hi Thomas,

Once again thanks for your quick and in-depth reply!

PDF viewers having a tolerant reading experience is both a bliss and a self-reinforcing curse I guess ;-)

Can't wait till your fix, many thanks!

Jurriaan

[2022-05-20 13:35] gettalong commented on #183
This is implemented and will be in the next release.

[2022-05-20 13:35] #183 closed

[2022-05-21 12:53] jurriaanschrofer commented on #183
👍🏻

[2022-05-28 18:11] bcoles opened #184 "Fuzzer + various crashes"
Here's an extremely rudimentary naive fuzzer for `hexapdf` :

<details>

[code]
</details>

Here's the stack traces for the latest version on `master` using [./test/data/**/*.pdf](https://github.com/gettalong/hexapdf/tree/master/test/data) as input.

[crashes.zip](https://github.com/gettalong/hexapdf/files/8791607/crashes.zip)

Unique crash locations:

[code]

[2022-05-28 19:44] gettalong commented on #184
Thanks, this looks interesting. I will have to see what could be done about the crashes.

[2022-07-12 13:07] marcelopedras-ufvjm opened #186 "Signatures fail when add an image to it"
hexapdf version: 0.23.0

How to add an image to the signature?
When I try with the code below, it gives an index error on line 250 of signatures.rb:

[code]

[code]

[2022-07-12 13:58] gettalong commented on #186
I can confirm the error and I'm looking at what may cause it.

[2022-07-12 14:02] gettalong commented on #186
I have found the problem (index out of bounds due the selected index being the last one in the array but the algorithm expecting it not to be)  and will find a fix for it.

[2022-07-12 14:55] marcelopedras-ufvjm commented on #186
Thank you Thomas!

[2022-07-12 21:20] gettalong commented on #186
Added an appropriate test case and implemented the fix - will be in the next release.

[2022-07-12 21:20] #186 closed

[2022-07-13 14:25] faizaankhan commented on #71
@gettalong This seems to repeat again. Checked on the latest 0.23. Merged PDFs are throwing errors.

[2022-07-13 19:40] gettalong commented on #71
@faizaankhan Can you provide a script to reproduce the error? A file created with the script in https://github.com/gettalong/hexapdf/issues/71#issuecomment-496100756 works fine in Adobe Reader when run on 0.23

[2022-07-14 23:24] cristianpaul0 opened #187 "Digital signature operation from external Library"
Hey guys,

I'm trying to integrate this Google's SDK Ruby snippet in to the how-to singing PDF example [2] I've noticed it already uses OpenSSL [3] but since this is Google KMS (HSM) backed I need to pass then the digest/message (from the PDF's content part/bits to be signed) to then (very straightforward if you look at the snippet) and store the signature response back to the file..

What's the b

[2022-07-15 06:41] gettalong commented on #187
Adding support PKCS11 is on my TODO list but nothing done yet.

Have a look at https://github.com/gettalong/hexapdf/blob/master/lib/hexapdf/document/signatures.rb#L46-L162. This is the default handler class that uses OpenSSL to actually sign the content (see the #sign method there). You would need to write a custom handler (probably based on the default one) for signing with Google KMS.

Calculati

[2022-07-19 21:08] cristianpaul0 commented on #187
Does the `sign` method (https://github.com/gettalong/hexapdf/blob/master/lib/hexapdf/document/signatures.rb#L157) expects the DER in a single string?  I'm trying to use openssl cms cli (couldn't find openssl cms support in ruby) to hack this for now, just trying to understand what should I return here exactly

[2022-07-19 22:29] gettalong commented on #187
Yes, a single string that will be the value of the /Contents key in the signature object.

[2022-07-21 23:00] cristianpaul0 commented on #187
@gettalong  out of curiosity and since I'm trying to form the pkcs7 object myself, I'm struggling with the `https://www.rubydoc.info/gems/rubysl-openssl/1.0.2/OpenSSL/PKCS7#add_certificate-instance_method` `add_certificate` do you recall may be using it in the past? I pass to it a x509 certificate but wasn't happy with it…

[2022-07-22 05:56] gettalong commented on #187
@cristianpaul0 I'm sorry, no. From what I can see passing a https://www.rubydoc.info/gems/rubysl-openssl/1.0.2/OpenSSL/X509/Certificate should do the trick.

Have you tried turning on debuging `OpenSSL.debug = true` and viewing the errors in `OpenSSL.errors`. What did the error say?

[2022-07-22 13:53] kristianpaul commented on #187
Debug helped!, looks like I have to pass the type (signed) when creating the PKCS7 object like this:

`openssl::PKCS7::PKCS7.new(signed)`

[2022-07-23 20:35] gettalong commented on #175
@ruinunes Just a heads up: There will be changes to `Writer#write` and `Writer#write_incremental` with the upcoming release, so you will need to adjust your code once you update to that release.

[2022-07-23 21:11] ruinunes commented on #175
Acknowledged, thanks.
I didn't mentioned before - but yes - our customer is using the commercial license.

[2022-07-25 14:19] cristianpaul0 commented on #187
Ideally, would be nice to interface this signing via pkcs11

How big this support of PKCS11 would be? Starting that openssl's gem is not really well documented… Do you have another crypto library for ruby in mind?

[2022-07-25 20:15] gettalong commented on #187
There is https://github.com/larskanis/pkcs11 but I haven't looked at it in detail. That one doesn't rely on OpenSSL but directly interacts with a native PKCS11 library.

[2022-07-28 14:59] gettalong commented on #184
@bcoles Hmm... after looking a bit into this I'm not sure if there is much to do here. If by fuzzing you create an invalid PDF, I think it is okay that HexaPDF crashes. What would be your suggestion?

[2022-07-28 15:12] bcoles commented on #184
Hey. I didn't look much into the results. I was fuzzing whichever libraries GitHub recommend to me.

The fuzzer explicitly ignores `HexaPDF::Error`  exceptions. All errors raised above were not handled gracefully and did not raise a `HexaPDF::Error`. Software using this library and only rescuing `HexaPDF::Error` would crash.

It is entirely expected that a fuzzer will find crashes. The idea is to

[2022-07-29 03:42] cristianpaul0 commented on #187
@gettalong I've noticed that `data` length is zero  first time `sign` method is called, but even still the openssl sign is called, is this intentional? What should i return from a custom implementation of `sign` when `data` length is zero?

[2022-07-29 08:33] gettalong commented on #187
@cristianpaul0 This is due to [this method](https://github.com/gettalong/hexapdf/blob/master/lib/hexapdf/document/signatures.rb#L132-L134) where the size of the signature blob is determined. This is just a *very* simple implementation of getting the signature size, so you might need to adjust that.

The `#sign` method should always return a proper signature object, regardless of the data. If havin

[2022-07-29 08:38] gettalong commented on #184
Thanks for the input. I will see if I can find any really problematic cases. However, I think I will defer error handling to the application using HexaPDF since handling all such errors in HexaPDF would make it quite unwieldy.

[2022-08-15 09:07] waterfallmouse opened #188 "Annotations disappear when you rotate a PDF file with annotations"
After [rotating](https://github.com/gettalong/hexapdf/blob/b9e194418b3b1bf89d6842e264dbff1c348c1332/lib/hexapdf/type/page.rb#L264) a PDF with annotations, the annotations are not highlighted when viewing the PDF.

The cause is that annotations cannot be taken into account during rotation.
https://github.com/gettalong/hexapdf/blob/b9e194418b3b1bf89d6842e264dbff1c348c1332/lib/hexapdf/type/page.rb#L2

[2022-08-15 09:54] gettalong commented on #188
Yes, rotating the annotations is not yet implemented. Annotations have several flags that need to be taken into account when rotating them or the page they are on. It also depends on how you rotate the page.

Could you provide a sample PDF and what you would expect when rotating a page?

[2022-08-15 10:04] waterfallmouse commented on #188
@gettalong
Thank you for your reply.

I cannot provide it because it is a PDF file that has an NDA with the customer.

What I want to do is rotate the position of the annotation as well.
Please refer to the following countermeasures.

[code]

[2022-08-15 12:17] gettalong commented on #188
@waterfallmouse That *might* work in some cases but not all. As I said, rotation of annotations also depends on certain annotation flags.

[2022-08-17 08:48] biril opened #189 "Digitally signed pdf, issue with signature when reloading / persisting to StringIO"
Hello and thank you for the very useful lib.

I have a piece of functionality around digitally signing a PDF, serializing/desirializing it and persisting it.

I've already read through the useful information in https://github.com/gettalong/hexapdf/issues/56. Here's the use case that's giving me trouble:

[code]

Perhaps the issue I'm facing is not relevant to the use of io but rather some nuances

[2022-08-17 12:07] gettalong commented on #189
This is to be expected because when you open and write the document, the on-disk representation will be changed, invalidating the signature hash. So this would also happen, if you load a signed PDF from a file.

What you need to do is use incremental writing in such a case: `other.write('output.pdf', incremental: true)`.

[2022-08-17 12:07] #189 closed

[2022-08-18 05:32] biril commented on #189
Thank you @gettalong. That's very helpful.

[2022-08-23 17:14] djberg96 opened #190 "JRuby failure"
jruby 9.3.4.0 (2.6.8) 2022-03-23 eff48c1ebf OpenJDK 64-Bit Server VM 18.0.2+0 on 18.0.2+0 +jit [arm64-darwin]
hexapdf 0.24.1

I was just tinkering with JRuby and hexapdf, but I noticed even a basic script like this fails:

[code]

Output:

[code]
It works fine with MRI. Any ideas?

[2022-08-23 21:33] gettalong commented on #190
The test suite of HexaPDF never ran successfully under JRuby. I just tried it out with the latest version 9.3.7.0 and it still has 72 errors, many of them begin exactly the one you encountered (`undefined method `last' for <???>:Integer`).

It often comes down to this line (as with your case) which JRuby can't handle:

[code]

I don't really know why it can't handle that line. And since I personal

[2022-08-24 00:04] djberg96 commented on #190
@gettalong Thanks, I've reported it at https://github.com/jruby/jruby/issues/7326.

[2022-08-24 05:51] gettalong commented on #190
I can re-open this issue if there is anything to do on HexaPDF's side.

[2022-08-24 05:51] #190 closed

[2022-09-11 08:55] jslabovitz opened #191 "OpenType fonts not supported (subsetting)?"
I'm writing a typography-oriented application that depends on OpenType fonts. I'm actually using Harfbuzz to shape/position the text into glyphs, then drawing the glyphs using `#show_glyphs`. My initial experiments are a success — as long as I turn off subsetting. If I don't turn off subsetting, HexaPDF crashes while accessing the `glyf` table, which as I understand may not exist for all (any?) Op

[2022-09-11 10:29] gettalong commented on #191
So first: Very cool for using Harfbuzz for shaping/positioning! :+1: The current shaping mechanism in HexaPDF only supports basic ligatures but using a real shaping engine like Harfbuzz has been on my TODO list for a long time. Are you using a Ruby interface for this or something else?

HexaPDF only supports TrueType fonts at the moment, so those OpenType fonts that contain a `glyf` table. Since I

[2022-09-13 09:31] gettalong commented on #190
@djberg96 Great, thank you!

[2022-09-14 18:35] jslabovitz commented on #191
Hmm. I'm using macOS's Preview app to view the generated PDFs. Perhaps there is some magic fallback logic in macOS that allows these PDFs to work, even if they aren't entirely valid?

Unfortunately about 95% of my OpenType fonts are CFF format, not TT (glyf) format. And I've been maintaining this collection for ~20 years, so I'm not likely at this point to replace my ancient CFF fonts with TT vers

[2022-09-14 19:21] gettalong commented on #191
Regarding OpenType CFF support: The https://github.com/prawnpdf/ttfunk/ gem which is used by Prawn recently got support for OpenType fonts. So adding CFF support to HexaPDF via ttfunk might not be *that* hard but I haven't looked into it. All the code concerning CFF seems to be in https://github.com/prawnpdf/ttfunk/tree/master/lib/ttfunk/table/cff.  The integration into Prawn is at https://github.

[2022-09-16 15:39] JStadtmullerExlabs opened #192 "FrozenError: can't modify frozen String: "" in serializer."
During the run code:

[code]

I receive erro: `FrozenError: can't modify frozen String: ""` on `gems/ruby-2.7.6/gems/hexapdf-0.24.2/lib/hexapdf/serializer.rb:280:in `gsub!'`

The fun fact is that the error appears only when method `write` is called with the flag `optimize: true`.

[2022-09-16 16:39] gettalong commented on #192
Could you provide the `original_file` in question where this happens? This would make finding the error easier. What would also help: Is the original file encrypted?

The place where the error happens ensures that the string is modifiable *except* in the case for string encryption. However, an empty frozen string should not lead to an error when using `.gsub!`:

[code]

So I don't really know what

[2022-09-20 12:17] JStadtmullerExlabs commented on #192
Thanks for the quick answer! Unfortunately, I can't provide an original_file because of legal reasons. But it was not encrypted, as far as I know.  When I fought about problem I think that this code describe the problem better:
[code]

[2022-09-20 13:46] gettalong commented on #192
Oops, you are perfectly right :upside_down_face: . I naturally wanted to `x.gsub!` :man_facepalming: and that raises the error.

You can check whether it is encrypted by running `hexapdf info file.pdf`:

[code]

If it has the line with 'Encrypted:', it is encrypted.

If you can't provide the file (I could also sign an NDA if needed, contact me at info@gettalong.at if that would work for you), mayb

[2022-09-21 08:45] JStadtmullerExlabs commented on #192
Thank you very much for the option to the personal contact with you, I really appreciate that proposition. But unfortunately, this file contains very sensitive data and it will be almost impossible to get permission to send it to you. But I will try to provide all the meta information that I can.

`hexapdf info file.pdf`
[code]
So my mistake, that file is encrypted ;)

[2022-09-21 09:39] gettalong commented on #192
That's great news because what I thought might be the problem is nearly surely the problem. Since I have already fixed that, there should be no error anymore when the new version of HexaPDF comes out (end of September/start of October).

I will close this issue now. Please let me know if there is still a problem once you tested the new version.

[2022-09-21 09:39] #192 closed

[2022-09-22 16:40] noniq opened #193 "Error "Invalid index into object stream given" when adding a file to a PDF"
When I add a file to an existing PDF and then call `#write` the following error occurs:

[code]

I’m not sure if it depends on the contents of the original PDF. Here's a minimal test case that reliably reproduces the error on my machine when used together with [this PDF](https://github.com/gettalong/hexapdf/files/9627726/bug-base.pdf):

[code]

Versions <= 0.22 appear not to be affected.

[2022-09-22 18:24] userrails opened #194 "Do we have mechanism to read PDF S3 URL?"
Hi @gettalong,

I want to use PDF merge feature to merge PDFs by reading from the S3 URL. Do we have mechanism for that?

I'm expecting something like this:

[code]

I've read this issue: https://github.com/gettalong/hexapdf/issues/136. I wanted to confirm if we have any such feature recently developed.

Thank you.

[2022-09-22 19:45] gettalong commented on #193
Thanks for the issue and the reproducible test case. I can confirm there *is* a bug and my guess is that it is related to the /XRefStm entry of the second revision of the `bug-base.pdf`.

[2022-09-22 20:55] gettalong commented on #193
So the problem is that when `validate: false` is used and the file is just written, an object stream is loaded but its content not immediately parsed (method `#parse_stream`). Since the file also has that weird structure with an added empty revision that just references a cross-reference stream via `/XrefStm`, this means that when the original revision where the content *and* the cross-reference s

[2022-09-22 21:09] gettalong commented on #194
Using PDFs stored in S3 is orthogonal to this library. HexaPDF has the general mechanism that you can provide an IO object to read a PDF from. So what you need to do is, get an IO object for the S3 URL and pass it to HexaPDF via `HexaPDF::Document.new(io: s3url_io)`.

It doesn't matter to HexaPDF whether the PDF is stored as file, in a database, in S3, ... or just in a `StringIO`. All it cares abo

[2022-09-23 05:38] userrails commented on #194
@gettalong Thanks for your response. I'm trying to get I/O object from S3 for that PDF url and I'm passing it inside `HexaPDF::Document.new(io: s3url_io)`.

[code]

I've inspected object variable, I am getting the S3 file object.

[code]

I passed that `obj` variable inside `HexaPDF::Document.new(io: obj)`, I ran into this error. Did I make anything wrong?

NoMethodError: undefined method `seek' f

[2022-09-23 08:18] noniq commented on #193
The PDF was generated by [PrinceXML](https://www.princexml.com/) – if it’s not conforming to spec I could also report an issue there. (However it would still be nice if HexaPDF could work with these PDFs, there are probably quite a lot of them in the wild.)

[2022-09-23 11:10] gettalong commented on #194
I don't know what an `AWS::S3::Object` is (I have never used S3). You either have to get an IO object or a binary string with the data and wrap that then in a `StringIO`.

[2022-09-23 13:10] gettalong commented on #193
HexaPDF *will* work with those PDFs :grin: I'm just deciding how many precautions I'm adding to support those PDFs and in which way to represent them.

I think it is a bit of a grey area, the spec says: *"For a file that has never been incrementally updated, the cross-reference section shall contain only one subsection, whose object numbering begins at 0."*. The file has two subsections, "0 6" and

[2022-09-23 16:57] gettalong commented on #194
@userrails Great - could you write a comment with how you solved so that others may find the solution? Thank you!

[2022-09-23 17:22] userrails commented on #194
Hope this feedback will be useful.

#### The arbitrary string.

[code]

#### StringIO method used to set as the file object

[code]

#### Create a new PDF document by reading from the provided io

[code]

[2022-09-23 17:44] userrails commented on #194
@gettalong Hope this feedback will be helpful to everyone.

#### The arbitrary string.

[code]

#### StringIO method used to set as the file object

[code]

#### Create a new PDF document by reading from the provided io

[code]

#### Writes the document to the given file name.

[code]

[2022-09-23 18:38] userrails commented on #194
@gettalong

I'm able to combine multiple PDFs using following code.

[code]

Without saving PDF on temp location as shown in above code, is it possible to use `HexaPDF::Document.open()` method to accept StringIO object or may be binary string data?

I have multiple PDFs on object `bills` which I want to merge into one PDF. Just curious to know if there are other ways in HexaPDF to merge multiple P

[2022-09-23 19:02] gettalong commented on #194
Thanks, yes!

Ah, so you are just using the URI without going through the S3 client gem. I think there should be a way to do this with the client gem since it has to be possible to get the contents of some blob stored in there.

[2022-09-23 19:08] gettalong commented on #194
The `HexaPDF::Document.open` method only accepts a file name. If you already have an IO object, just use `HexaPDF::Document.new(io: io_object)`.

What you should be able to do is the following:

[code]

So if you can use `open` to read `inv.file_url`, you should be able to pass the created IO object directly to HexaPDF.

[2022-09-24 10:16] gettalong commented on #193
@noniq Ah, just found this in the spec: *"Therefore, the XRefStm entry shall not be used in the trailer dictionary of the main cross-reference section but only in an update cross-reference section."* So it is actually mandated by the spec to have another revision just for the `/XRefStm`. I still find it weird that the object and cross-reference streams are in the initial revision and not the updat

[2022-09-24 10:44] noniq commented on #193
Weirdness all the way the down … Thanks for taking this deep-dive into this! 🤓

[2022-09-24 14:07] gettalong commented on #193
Thanks again for the report!

I have fixed the problem in both places, so when parsing the revisions and in the object stream class itself (it now makes sure that any initially set stream is parsed and the data loaded).

Additionally, I found another bug while testing the bug fixes and fixed that, too :grin:

[2022-09-24 14:07] #193 closed

[2022-09-26 09:34] noniq commented on #193
Thank you for fixing this so quickly! 🚀

[2022-10-08 11:47] gfahl opened #195 "character_spacing and TextFragment#width"
First, thank you for your work on this great gem!
I am using `HexaPDF::Layout::TextFragment#width` to center a piece of text (is there a better way?)
This works fine until I start to use a character spacing other than 0.
I expect the following code to keep centering the text on the page (the underscore intersecting with the vertical line).

    require "hexapdf"
    doc = HexaPDF::Document.new

[2022-10-08 14:02] gfahl commented on #195
Update:
Adjusting the computed width in my example by subtracting the character spacing gives me the result I expected:

    tf.draw(page.canvas, w * 0.5 - (tf.width - i * 5) * 0.5, h - 40 - i * 35)

Hypopthesis: `HexaPDF::Layout::TextFragment#width` applies the character spacing twice for each character instead of once.

[2022-10-08 20:11] gettalong commented on #195
Thanks for reporting this!

Indeed, the character spacing after the last fragment item is used during the width calculation. However, this is in accordance with the PDF spec section 9.3.2:

I agree, though, that the last item in a line should probably not have that additional spacing added because this interferes with calculations such as yours or text justification:

[code]

![image](https://user

[2022-10-08 20:20] gettalong commented on #195
If you go one convenience level up, you could use the `HexaPDF::Layout::TextLayouter` class. Or still one more level up, use the `HexaPDF::Composer` class to do the layouting. However, they all will have the problem with the last item's character spacing.

[2022-10-10 00:08] gfahl commented on #195
Hi again!

I thought I'd check how the different browsers handle the CSS attribute `letter-spacing` when it is used together with `text-align: center` and `text-anchor: middle`

The results were interesting.

I tried this code:

    <html>
    <head><style>
      div { width: 400px; background-color: #000 }
      p { color: #fff; text-align: center }
    </style></head>
    <body>
      <div>

[2022-10-10 12:19] gettalong commented on #195
Thanks for testing this out! I just looked at how LibreOffice Writer does it and there it works correctly, e.g. no space after the last character on a line.

Btw. it is also rather easy to simulate this by using `fragment.items.map! {|i| [i, 20]}.flatten!.slice!(-1)`.

I will add the note in the API documentation for character spacing and keep this on my todo list.

[2022-10-10 15:26] brandit-dev opened #196 "Changing fonts: form fields and directly on PDF"
I have two scenarios facing the same problem, that is changing the font for existing PDF files. I read the other posts, tried several approaches and got no success so far.
1)	Filling a form: I can fill a form with no problem, but it resets size and color to original values of the field and, most important, resets the font to Helvetica (the field was set to Roboto when the form was open) even befor

[2022-10-11 08:15] userrails commented on #194
@gettalong

In combined pdf gem there was mechanism to read the pdf

#### Service Class
[code]

#### And on controller action
It converts the pdf and display on the browser.

[code]

In HexaPDF, I am not exactly getting how to do this.

https://github.com/gettalong/hexapdf/issues/194#issuecomment-1256577643 In this solution, I was able to directly write the IO file and I can read PDF from download

[2022-10-11 10:12] gettalong commented on #194
I'm not really sure what you mean. My guess is you mean rendering to a string instead of a file? If so, then yes, this is possible, just supply a `StringIO` object when using `HexaPDF::Document#write`.

As for showing it in the browser without downloading: This has nothing to do with HexaPDF, you need to do this in the web framework.

[2022-10-11 10:12] #194 closed

[2022-10-11 14:32] rubyFeedback opened #197 "[Feature suggestion] Numbering pages via hexapdf"
Hey there gettalong,

Today I found "combine_pdf". You perhaps know it already:

https://github.com/boazsegev/combine_pdf

The author is no longer super-active so perhaps it may be useful for
hexapdf to integrate the features it can offer.

One in particular was "numbering pages". Not sure if hexapdf
supports this already but if not then I think it would be a good
idea to offer it.

The API + synt

[2022-10-11 15:07] brandit-dev commented on #196
Thank you for your prompt reply!

We decided to write directly on the PDF (option 2 above) what is working well.

I took a look at https://github.com/gettalong/hexapdf/blob/master/lib/hexapdf/content/canvas.rb and couldn't find a way to change the font weigh, at least not in that file.
When writing directly on the PDF, is there a way to change the font weight?

Thanks.

[2022-10-14 16:06] rubyFeedback opened #198 "[Question / Feature request, but more a question] Autogenerating .pdf file for a "gamebook" style .pdf with some custom formatting: how feasible would it be to use hexapdf for this?"
Hey there gettalong,

This is more of a support-question query, but before dismissing it right
away, perhaps you could briefly read it nonetheless - thank you for your
time "upfront".

Before I explain this suggestion or proposal or request in more detail,
allow me to explain the background and rationale here.

In the 1980s there used to be "gamebooks" or "fighting fantasy books".
This refers to h

[2022-10-14 20:56] gettalong commented on #198
Quite an interesting read and project! Will have to get a look at your gem! I have heard of DSA but more due to playing a bit of Ultima back in the day. Bookwise the only thing I can remember that would be similar are some of the special edition books for the [Knickerbocker Gang](https://de.wikipedia.org/wiki/Knickerbocker-Bande#Ratekrimis_und_Entscheidungsgeschichten) that I had.

So, back to you

[2022-10-14 20:56] #198 closed

[2022-10-15 23:35] brandit-dev commented on #196
Thank you!

[2022-10-15 23:37] brandit-dev opened #200 "Getting the doc/page width"
I tried to find if doc or page would give me the width of the document/page but couldn't find it.
I'm sure it's there somewhere.
Is it possible?

[2022-10-16 06:11] #196 closed

[2022-10-16 06:23] gettalong commented on #200
Each page can be of a different size, so this is a property of a page. Therefore see https://hexapdf.gettalong.org/documentation/reference/api/HexaPDF/Type/Page.html#method-i-box which returns the media box by default.

[2022-10-16 06:23] #200 closed

[2022-10-21 16:02] jotolo opened #202 "Multiple Signature example resulting in Invalid Byte Range"
Hi @gettalong , our team is trying to integrate hexapdf to our signature tool.
We tried the example code provided in the docs for [multiple signatures](https://hexapdf.gettalong.org/documentation/howtos/signing-pdfs.html#multiple) and the result is giving us an invalid byte range with any PDF we tried.
We used Acrobat Reader and [PDF Studio Viewer](https://www.qoppa.com/pdfstudio/download/) to tes

[2022-10-21 19:24] gettalong commented on #202
Thanks - I can reproduce the problem and have identified the cause.

[2022-10-21 19:41] gettalong commented on #202
The root cause is a change in how PDF objects are compared. This change, introduced in August this year, was meant to prevent output of invalid PDFs. However, a hitherto unknown side-effect was that existing signatures were deemed to have changed when writing a new revision (e.g. for another signature). This in itself would probably also not be a problem since the signature value stayed the same b

[2022-10-21 22:21] gettalong commented on #202
I just released 0.26.2 with a fix for this problem.

[2022-10-22 06:43] #202 closed

[2022-10-22 08:36] jotolo commented on #202
Thanks @gettalong for the quick fix. Very nice work with hexapdf 🖖

[2022-10-27 19:30] andi-dev opened #203 "Issue with utf-8 character in filled form field after flattening acro_form"
Hi there!

I am evaluating hexapdf for a customer project, and I ran into an isuse while trying to flatten an included acro_form in order to make the pdf "read only". The characters simply disappear after modifying it with hexapdf.

Before:

<img width="506" alt="image" src="https://user-images.githubusercontent.com/152931/198380376-2385ec43-5b2a-42b0-b6b1-b3a920d6183a.png">

After:

<img width="5

[2022-10-27 20:38] gettalong commented on #203
So what happens is that with `in_doc.acro_form.flatten` HexaPDF tries to create the appearances of the form fields. Text fields are always regenerated because of the difficulty to determine whether an associated appearance stream actually contains the fields value. Since the form uses a font that HexaPDF currently can't use for creating the fields' appearances, it falls back to the configuration o

[2022-10-28 08:40] andi-dev commented on #203
Wow, thank you for the quick response! 🙂

I tried out ´in_doc.dispatch_message(:complete_objects)`, as having fields missing entirely in the flattened page doesn't sound like the best option. It works and solves the umlaut-issue. Thank you!

Regarding the second question: Manually deleting the widgets seems to work, and all "normal" fields are disabled. (checkboxes however can still be checked)

W

[2022-10-28 20:57] gettalong commented on #203
You need to additionally delete the main acroform object like with your initial code:

[code]

However, this only makes sense if you write `in_doc` as the `out_doc` won't have the acroform object anyway.

---

If you write out a file, you won't need to dispatch the :complete_objects message as this is done by the `#write` method.

The `NoMethodError` would indicate that an object was deleted and t

[2022-10-29 00:23] earthlingworks opened #204 "Advice related to dimensions"
Recently we've gotten a couple of PDFs that have been cut off and items placed in the wrong place because of the source PDFs (from different people) have had strange dimensions.

All files have come from Adobe PageMaker and when you open them in Acrobat or other PDF viewers they look fine.

We run pdfinfo -box and see something like this: https://share.getcloudapp.com/bLu5PkD4

Looks like the issu

[2022-10-29 06:39] gettalong commented on #204
The PDF specification in section 14.11.2 describes the various page boundaries (media box, crop box, bleed box, trim box and art box), how they relate to each other and what they are used for.

So having different values for the media and crop boxes is something not that unusual. The thing is that it depends on the use-case which box is used.

For example, when using `HexaPDF::Type::Page#canvas` t

[2022-10-29 18:24] earthlingworks commented on #204
Good question. I'll have to ask the team and will have an answer on Monday. Thanks!

[2022-10-29 20:25] andi-dev commented on #203
Hi Thomas,

thanks again for your reply! I digged a bit deeper, and from what I understand `in_doc.acro_form.flatten` leaves a reference to a `Kid` which is `nil`. Then I get the error either when deleting widgets with `in_doc.acro_form.flatten.each {|widget| widget.form_field.delete_widget(widget)}`...

[code]

or, when I skip removing the widgets (-> simply calling `in_doc.acro_form.flatten`) I

[2022-10-29 20:43] gettalong commented on #203
Thanks for providing the stack traces and the additional information!

I'm still not quite sure how this happens because in `#flatten` the field should be deleted from its parent's /Kids array:

[code]

The first reason I can think of why this happens is if the /Parent entry is missing.

Could you run `hexapdf inspect INPUT.PDF r` and provide the output? That would help me determine whether the PD

[2022-10-30 09:19] andi-dev commented on #203
I am starting to suspect that the original pdf is in some way broken. When I use the `pdfinfo` command line tool, I get two warnings which seem to be related to the issue. I will send you this particular pdf via email. Thank you for taking the time to look into this!

[code]

[2022-10-30 10:39] gettalong commented on #203
Thanks - I will have a look at the file later today!

[2022-10-30 17:41] gettalong commented on #203
So, thanks again for providing the file.

I looked at the fields and how they are defined. Nearly all of the fields are in a flat hierarchy, i.e. directly referenced in the root fields array. However, there are two entries which are kids of another one. Those kids should have a /Parent entry referencing their parent. One of them does but the other doesn't. This is the reason of the syntax warning

[2022-11-01 03:32] earthlingworks commented on #204
Yep, so looks like we're getting media box with HexaPDF::Type::Page#canvas. Viewers seem to rely more on crop box for display (which is basically what we do + overlay data) so it might make sense for us to use that as well.

[2022-11-01 06:43] gettalong commented on #204
Thanks for getting back to me! The current implementation uses the media box to translate the origin and this is hard-coded.  What I could introduce is a keyword argument that prevents this automatic translation so that the origin stays at (0,0) and one can then translate as one sees fit. Would that help your use-case?

If you'd like, you could also (privately) provide the PDF in question and some

[2022-11-01 13:29] gettalong commented on #204
The spec in 14.11.2 says regarding the crop box: *"The crop box defines the region to which the contents of the page shall be clipped (cropped) when displayed or printed. "*

I've tried a few things and you are absolutely correct, when viewing the crop box and not the media box is used in all viewers I tried. I have to say I'm a bit embarrassed that I didn't notice this in the last 8 years... :dis

[2022-11-01 17:44] earthlingworks commented on #204
Thanks for following up so quickly. That's great to hear about the upcoming changes :)

It's tricky and easy to miss the media/crop box thing in that we've had many documents from all types of sources uploaded and processed and 99.9% all worked great with the current approach.

[2022-11-03 20:27] earthlingworks commented on #204
Following up here with more details that we also use this to get page dimensions. Would this also default to crop box dimensions? ```HexaPDF::Type::Page#box```

[2022-11-03 20:36] gettalong commented on #204
Yes, that will also default to the crop box since tests show that if a crop box is set the viewers all use the crop box for display *and* for page dimensions.

[2022-11-03 22:20] gettalong commented on #204
@earthlingworks I have pushed the needed changes to the devel branch. It would be great if you could try them out and let me know whether that fixes your issues.

[2022-11-03 22:24] earthlingworks commented on #204
Great! I'll do that when I get a chance later today and get back to you on it, thanks!

[2022-11-04 02:26] earthlingworks commented on #204
Actually, someone on the team was still around and they checked it out. Everything works perfectly now, even a previous file we had issues with on the layout side. So all looks good!

[2022-11-04 21:43] gettalong commented on #204
Thanks for the feedback! Although this seems to be a rather easy change, it can have a vast impact, so thanks for testing this out!

[2022-11-04 21:43] #204 closed

[2022-11-04 21:52] gettalong commented on #203
@andi-dev So I will fix this by adding code to the validation routine of the main AcroForm object `doc.acro_form`. To ensure that you have a valid file (or auto-correct invalid object if possible) you would then need to call either `doc.acro_form.validate` for just this type of validation or `doc.validate` to validate the whole document.

I have thought about a few other ways to solve this but non

[2022-11-07 12:04] andi-dev commented on #203
@gettalong if I have a chance to validate if the pdf has a valid form structure before attempting to flatten it, this should be fine. If some issues can be auto-corrected even better :)

Looking forward to trying out the updated version of hexapdf - thank you for your support so far!

[2022-11-08 22:04] gettalong commented on #187
@cristianpaul0  So I just wanted to mention that the next version due in a few days will have support for external signing via a special signing handler. This should make it a bit easier to interface with an external signing service like Google KMS.

[2022-11-14 15:02] asarubbo opened #205 "Problem encountered: Data is missing for PNG predictor (with --strict)"
Hello,

by adding `--strict` to hexapdf I get:

[code]

and then in returns 1

The complete command is: `hexapdf --force --strict -v in.pdf out.pdf

I can reproduce with hexapdf 0.26.2 installed with `gem install`

Ruby version is:
`ruby 2.7.5p203 (2021-11-24 revision f69aeb8314) [x86_64-linux]`

How we can debug this issue?

[2022-11-14 16:49] gettalong commented on #205
When using `--strict` HexaPDF tries to strictly follow the PDF specification. However, *many* PDF writers generate slightly invalid PDFs, so HexaPDF also includes many work-arounds for those PDFs. These work-arounds are activated by default so that HexaPDF "just works" :tm: but can be disabled in the command line tool via the `--strict` option.

So my guess is that you have a slightly invalid PDF

[2022-11-15 09:37] asarubbo commented on #205
Hi, considering the description of `--strict` you gave, I think it is fine for me to omit it.

However in my personal opinion it looks like a bit different that what `hexapdf -h` explain, I'd suggest to improve the description if you agree.

[2022-11-15 10:00] gettalong commented on #205
Thanks for the feedback - I will have a look!

[2022-11-15 20:53] andi-dev opened #206 "cli "watermark" command is not respecting cropbox"
Hey again :)

I ran into an issue with the `watermark`-command, or more specifically I ran into the issue when trying to adapt the code in `watermark.rb` to our use case.

I have the following two pdfs:

Background: https://drive.google.com/file/d/1nDOXwnt6EjNuoAT-OKjDnuzpUf00awAS/view?usp=share_link
Overlay: https://drive.google.com/file/d/1EjYftJGHF_dvhojgiBgRpOrpjAyMoWBo/view?usp=share_link

th

[2022-11-15 21:20] gettalong commented on #206
W.r.t. to the box-system: I can only say: me too :grin:

A customer recently had a similar problem (see #204) and through this I already have a fix available (see https://github.com/gettalong/hexapdf/commit/5a50b7745f7d9408d9932b543e5a9957b18fdf62). So this will work in a few days when the next version is released.

I now get the following output:
![image](https://user-images.githubusercontent.com

[2022-11-15 21:29] gettalong commented on #203
@andi-dev I have implemented the needed changes and your test case now works if you validate the AcroForm field tree before doing anything with it. You can try it out using the [actions branch](https://github.com/gettalong/hexapdf/tree/actions).

The next version with the change will be released in a few days.

[2022-11-15 21:29] #203 closed

[2022-11-15 21:38] gettalong commented on #188
@waterfallmouse Could you create a sample PDF that shows what is going wrong and share that?

[2022-11-15 21:54] gettalong commented on #187
@cristianpaul0 The mechanism for external signing is now incorporated in the default signing handler:

[code]

Regarding PKCS#11 support: On my TODO list but will probably not be implemented in the near future.

Regarding building a PKCS#7 object yourself: Did it work? I recently had to dig into the PKCS#7 structure and OpenSSL and I don't think that the PKCS#7 class of OpenSSL is intended to be m

[2022-11-15 21:54] #187 closed

[2022-11-15 21:55] gettalong commented on #182
Will close this since now there is the migration guide.

[2022-11-15 21:55] #182 closed

[2022-11-15 21:59] gettalong commented on #184
Nothing really to do here since handling of unexpected errors is delegated to the application/library using HexaPDF.

[2022-11-15 21:59] #184 closed

[2022-11-17 13:29] nlinn opened #207 "TextLayout raises "No font set" for leading and double newlines"
Thank you for your work on hexapdf. I am currently migrating reports from prawn to hexapdf and I am using `TextLayouter` a lot, since I need to be in control of page breaks and how to exactly distribute contents on pages.

I came along the problem, that leading and double line breaks result in HexaPDF::Error "No font set" when calling `.fit`

[code]

It would be no problem for me to `strip` leadin

[2022-11-17 16:44] gettalong commented on #207
Thanks!

You need to assign a style to the TextLayouter itself since it uses the information in the style for several things, e.g. first line indentation, selection of the text segmentation algorithm and *for determining the size of empty lines*.

Here is the adapted code:

[code]

[2022-11-18 07:30] nlinn commented on #207
Many thanks for the quick response, I can confirm that adding a style to layouter itself solves the problem!

[2022-11-18 07:30] #207 closed

[2022-11-18 10:57] #206 closed

[2022-11-18 10:58] andi-dev commented on #206
Hey, thanks again for your quick reply. I can confirm that it works with the actions-branch! Looking forward to the new release!

[2022-11-21 11:34] andi-dev opened #208 "Default appearance-state for check_box fields?"
Hi again :)

I investigated another issue I had when flattening an `acro_form`.
The pdf is actually the same I send you via email regarding #203

This is the code I am using:

[code]

This results in some of the checkboxes on the page looking squeezed, while others look fine.

<img width="29" alt="image" src="https://user-images.githubusercontent.com/152931/203037825-8974bddf-e5f4-499f-9cdf-345c18

[2022-11-21 19:47] brandit-dev opened #209 "How to flatten a file with no form"
Hello,
1. I have a pdf to which I add text and  images.
2. After saving it, if I open it on Adobe Acrobat, I can edit/delete any of the PDF elements (images, text), etc.
3. How can I save the file in a way it will be converted to an image as if it was a bitmap?
4. If it has to be saved as a JPG, that's ok (we'd prefer to keep as PDF, though).

Thanks,

Sergio

[2022-11-21 20:04] gettalong commented on #208
Yes, I think this is a bug. If a check box field has no `/V` entry or its value is `nil`, the `/Off` appearance should be selected if there is one.

[2022-11-21 20:18] gettalong commented on #208
And I found another bug in the appearance generation code of button fields that would make HexaPDF generate the appearances even though `/Off` and one other appearance was available.

[2022-11-21 20:27] gettalong commented on #209
Am I understanding correctly that you want to output a PDF which is not editable in a *PDF editor*? If so, you would need to render the PDF pages and use the generated images as PDF pages (either in a new PDF or by substituting the contents of the existing pages).

Note that PDF rendering is the one thing HexaPDF is not designed to do! So you will need to use something like `pdftocairo` to render

[2022-11-21 20:45] andi-dev commented on #208
Thank you for confirming it's a bug. Thats good to hear, as this a) means that I didn't get entirely lost in this pdf stuff, and b) that we found the hopefully last thing going wrong with this somewhat weird pdf-file 😅

[2022-11-22 21:39] gettalong commented on #208
Down the rabbit hole I go: The performance of the sample code is not very good, for several reasons that I found. So I'm currently trying out things to make it faster. On the way I discovered yet another subtle bug...

[2022-11-25 11:30] andi-dev opened #210 ""undefined method `width` for nil:NilClass" when running `acro_form.validate`"
Hi Thomas,

we've been checking the `acro_form.validate` and `acro_form.flatten` for a bunch of actual client pdfs.

We ran into a couple of `HexaPDF::Error`, which we can live with, as we can at least rescue and fall back to not flattening the forms. (are you interested in these errors anyway?)

But we also ran into one `NoMethodError` (backtrace below).

I had a look into the code and in https:/

[2022-11-25 13:02] andi-dev opened #211 "`acro_form.flatten` stops flattening annotations once a page has no `:Annot`-key"
Hi again :)

I hope I am not getting it wrong, but when flattening the form hexapdf goes through the pdf page by page and has each page attempt to flatten the widget-annotations: https://github.com/gettalong/hexapdf/blob/master/lib/hexapdf/type/acro_form/form.rb#L397

the remaining annotations are being reassigned to the `not_flattened` variable.

However in this line, `Page#flatten_annotations` r

[2022-11-25 21:25] gettalong commented on #210
Yes, please, always :grin: They might indicate an invalid PDF or something that HexaPDF doesn't handle correctly. Either way there might be a way to gracefully handle the situations leading to the errors.

As for the `NoMethodError`: I will have to test this out but I *think* an empty string should be valid, displaying nothing.

[2022-11-25 21:31] gettalong commented on #211
Thanks for the detailed analysis and yes, you are completely right, the error lies on line 522 of the `page.rb` file. The method would need to return `annotations.to_ary`, though, not just `annotations` because that might be `HexaPDF::PDFArray` and not a simple Array.

[2022-11-25 21:49] gettalong commented on #211
I have fixed the error and the change is live on the devel branch if you want to try it out.

[2022-11-25 21:49] #211 closed

[2022-11-26 13:51] andi-dev commented on #208
Good luck :) Let me know if I can help to test the new implementation. I also have a couple more real-world pdfs with disappearing checkboxes / check ticks, which I'd be happy to test against your fix.

[2022-11-26 14:46] andi-dev commented on #211
Thank you for the quick fix! I can confirm that the issue is solved :)

[2022-11-26 23:08] gettalong commented on #208
@andi-dev All three mentioned bugs as well as some of the performance optimizations are implemented and I pushed the changes to devel branch if you'd like to test before the next release.

[2022-11-26 23:08] #208 closed

[2022-11-26 23:31] #209 closed

[2022-11-27 13:37] andi-dev opened #212 "Opening and saving a document loses some check_box-fields"
Hi Thomas,

okay, I have an odd one this time. I will send you the corresponding pdf in a moment via email.

When I open the file with hexapdf and `write` it again, a ticked checkbox disappears, and apparently the form-field / widget as well, as the check_box is no longer clickable.

I don't understand whats wrong, but here are a couple of things I noticed:

1. When I run  `acro_form.validate` and

[2022-11-27 20:34] andi-dev commented on #208
@gettalong thanks again for the fix! I tested it with a bunch of documents which had issues with checkboxes, and most of them look good now ❤️

I just found a similar but apparently entirely unrelated issue, which I describe in https://github.com/gettalong/hexapdf/issues/212

[2022-11-27 20:45] gettalong commented on #212
Hmm... I concur that file is rather strange.

* Some other fields are also disappearing, e.g. text fields.
* Filling out the text fields doesn't show the entered text when tested with Okular and Evince, even in the original file.

As for your comments:

* Yes, the validation code for the main form object now contains provisions to remove invalid objects from the field tree. So that is the expected

[2022-11-27 21:14] gettalong commented on #212
Okay, so running `hexapdf info --check test3.pdf` shows some problems and looking e.g. at file position 477531 you can see `0 0 R` as the value of a dictionary key. The PDF spec says regarding indirect object references in 7.3.10  *"The object identifier shall consist of two parts: A positive integer object number. ..."*, so this is clearly invalid.

There was a [recent change](https://github.com/

[2022-11-27 21:33] gettalong commented on #212
Btw. the second file you sent exhibits the same problem with `0 0 R` but only in one location, not in multiple like with `test3.pdf`.

[2022-11-27 22:10] gettalong commented on #212
The change fixing the problem is live on the devel branch.

As for the problem with filled out text not showing up:  I think this is related to the fonts that are used in some of the form fields because they are subset fonts, i.e. not containing all characters or all the mappings needed to actually create a visual representation of some Unicode text. Some of those form fields, e.g.  the three on t

[2022-11-27 22:10] #212 closed

[2022-11-28 00:19] gettalong commented on #210
Here is an quasi-official comment on how appearance characteristics dictionaries (`/MK` entry in widget annotation) are to be treated: https://github.com/pdf-association/pdf-issues/issues/56#issuecomment-797856300 - i.e. it is processor dependent.

[2022-11-28 09:39] gettalong commented on #210
Another comment here https://github.com/pdf-association/pdf-issues/issues/23#issuecomment-764216521

[2022-11-28 12:33] andi-dev commented on #212
Nice, I can confirm the issue is fixed :)

[2022-11-28 12:46] andi-dev opened #213 "Opening and saving a pdf causing it to be password protected"
Hi again,

I have a pdf (which I will send you via email) with the following issue. When I open the file with hexapdf, then write it again, the written fail is password protected and can no longer be opened.

I tried to dig a bit deeper myself but I didn't get far:

- the pdf has an EncryptionDictionary / :Encrypt-trailer
- it appears to be write-protected

Looking forward to you assessment 😄

[2022-11-28 12:50] gettalong commented on #210
So, following the information from the linked comments and from the fact that if there is no marker character defined, HexaPDF will now draw no marker when an empty `/CA` entry in the appearance characteristics dictionary is found. Change is live in the devel branch.

[2022-11-28 12:50] #210 closed

[2022-11-28 13:07] gettalong commented on #213
Thanks - will have a look at it later. From the error description I'm guessing HexaPDF is messing something up concerning the two possible passwords.

[2022-11-28 13:09] andi-dev commented on #210
Thanks again for the quick fix :) I just tried it with all 3 pdfs that previously ran into this error, and everything looks good now!

[2022-11-28 18:34] alexey opened #214 "Merging page from another pdf but font not mergeable"
I have app that adding texts for original pdf and generate new pdf.
All is good until i have page that contain different font, then target pdf have no glyphs(boxes instead of characters), when `source_doc` saved, it displays font properly.

I have tried to `.add` font to `target_doc` but it did not added(tried before and after `import`)
In the `target_doc.fonts` I can see font loaded in `loaded_fo

[2022-11-28 21:12] gettalong commented on #213
So this bugs seems to stem from the fact that the file in question is both, linearized and encrypted. This leads the encryption routine to invalidly believe that it has to encrypt the strings in the encryption dictionary but those strings must never be encrypted, obviously.

[2022-11-28 21:45] gettalong commented on #214
* Have you tried first importing and then adding the text?
* Does it work if you call `source_doc.dispatch_message(:complete_objects)` before importing?

[2022-11-28 22:02] gettalong commented on #213
Correction to the previous comment: Not connected to linearization but to the fact that the PDF file has multiple revisions.

Here is a simple example script that produces the invalid output:

[code]

The more concrete reason why this error happens is that the comparison between the encryption dictionary that is written and the one that is stored in `doc.trailer[:Encrypt]` fails due to the two bei

[2022-11-28 23:10] gettalong commented on #213
I have pushed the fix to the devel branch.

[2022-11-28 23:10] #213 closed

[2022-11-29 07:12] alexey commented on #214
Thanks @gettalong, this did the trick:

`source_doc.dispatch_message(:complete_objects)`

[2022-11-29 07:12] #214 closed

[2022-11-30 14:28] andi-dev opened #215 "using `.rotate(0, flatten: true)` on a filled form looses text in form fields"
Hi again :)

While trying to reproduce a different bug, I ran into this issue:

1. I take the example pdf from http://foersom.com/net/HowTo/data/OoPdfFormExample.pdf, fill in some fields, save it!
2. I run `doc.pages.first.rotate(90, flatten: true)`
3. `doc.write("rotated.pdf")`
4. The rotated.pdf apparently lost all texts in the form, also all checked checkboxes etc.

Apparently rotate with `flat

[2022-11-30 21:10] gettalong commented on #215
When you invoke `Page#rotate`, the `flatten` argument means that the rotation is done by incorporating it into the content stream instead of using the `/Rotate` key. This involves the manipulation of the page boxes and additions to the content stream. When you rotate the page by 90 degree, the following happens (where `0` marks the origin of the coordinate system):

[code]

The annotations of a pa